<h3 align="center">
    ⚙️ Preferences
</h3>

<clr-accordion [clrAccordionMultiPanel]="true">
  <clr-accordion-panel>
    <clr-accordion-title>Downzap Recipients</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form clrForm onsubmit="return false;">
        <clr-textarea-container>
            <label>Downzap Recipient's npub</label>
            <textarea clrTextarea
            [disabled]="ndkProvider.isLoggedInUsingPubKey"
            cols="50"
            id="downzap-recipients"
            placeholder="npub of the recipient" >{{ ndkProvider.appData.downzapRecipients }}</textarea>
            <clr-control-helper>npub of the person who will receive the sats for your downzaps</clr-control-helper>
        </clr-textarea-container>


        <div *ngIf="downzapRecipientsError" class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
              </div>
              <span class="alert-text">
                {{ downzapRecipientsError }}
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="downzapSetSuccessMessage" class="alert alert-success" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
              </div>
              <span class="alert-text">
                {{ downzapSetSuccessMessage }}
              </span>
            </div>
          </div>
        </div>
         <button type="submit" [disabled]="ndkProvider.isLoggedInUsingPubKey"
          class="btn btn-primary" (click)="saveDownzapRecipients()">Save</button>
    </form>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title>Default sats for Zaps</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form clrForm onsubmit="return false;">
        <clr-input-container>
            <label>No. of sats for Zaps</label>
            <input clrInput
            [disabled]="ndkProvider.isLoggedInUsingPubKey"
            type="number"
            id="sats-for-zaps"
            value="{{ ndkProvider.defaultSatsForZaps }}" >
            <clr-control-helper>These many sats will be send when you zap</clr-control-helper>
        </clr-input-container>
        <button [clrLoading]="settingDefaultSats" [disabled]="ndkProvider.isLoggedInUsingPubKey"
         type="submit" class="btn btn-primary" (click)="setDefaultSats()">Save</button>
    </form>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title>Muted Topics</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form *ngIf ="!ndkProvider.isLoggedInUsingPubKey" clrForm onsubmit="return false;">
        <clr-input-container>
            <label>Hashtag to mute</label>
            <input clrInput
            type="text"
            id="topic-to-mute"
            placeholder="#Hashtag to mute">
            <clr-control-helper>Any post with this tag will not be shown by zapddit to you</clr-control-helper>
        </clr-input-container>
        <button [clrLoading]="mutingTopic" type="submit" class="btn btn-primary" (click)="muteTopic()">Mute</button>
    </form>
    <h4>Muted Topics</h4>
    <div *ngIf="ndkProvider.appData.mutedTopics && ndkProvider.appData.mutedTopics !== ''">
      <p *ngFor="let topic of ndkProvider.appData.mutedTopics.split(','); ">
        #{{ topic }}
        <cds-icon *ngIf="!ndkProvider.isLoggedInUsingPubKey" class="trash-icon" status="danger" size="md" shape="trash"  title="Unmute" (click)="unmuteTopic(topic)"></cds-icon>
      </p>
    </div>
    <p *ngIf ="!ndkProvider.appData.mutedTopics || ndkProvider.appData.mutedTopics === '' ">No topics muted</p>


    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel [clrAccordionPanelOpen]="true">
    <clr-accordion-title>Media Content</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form *ngIf ="!ndkProvider.isLoggedInUsingPubKey" clrForm onsubmit="return false;">


        <clr-checkbox-container clrInline>
          <clr-checkbox-wrapper>
            <label>Automatically show media content from People I follow</label>
            <input type="checkbox" [(ngModel)]="loadContentFromPeopleIFollow" id="load-media" clrCheckbox
            placeholder="#Load Media" (ngModelChange)="onMediaSettingChange($event)" name="loadContentFromPeopleIFollow" id="loadContentFromPeopleIFollow">
          </clr-checkbox-wrapper>
          <clr-control-helper>Enable this option to load media automatically only for the content from people I follow. You will have entire control of what media content you to want to see.</clr-control-helper>
        </clr-checkbox-container>
    </form>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
