<h3 align="center">
    ⚙️ {{'Preferences'|translate}}
</h3>

<clr-accordion class="mt-20" [clrAccordionMultiPanel]="true">

  <clr-accordion-panel>
    <clr-accordion-title translate>Language</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form clrForm onsubmit="return false;">
        <clr-combobox-container>
          <label translate translate>Display language</label>
          <clr-combobox [(ngModel)]="currentLanguage" (ngModelChange)="updateLanguage()" name="language" required placeholder="{{'Select a language'|translate}}">
            <clr-options>
              <clr-option clrValue="en">English</clr-option> 
              <clr-option clrValue="fa">فارسی</clr-option>   
              <clr-option clrValue="fi">Suomi</clr-option> 
              <clr-option clrValue="fr">Français</clr-option>
              <clr-option clrValue="hi">हिंदी</clr-option>
              <clr-option clrValue="ja">日本語</clr-option>
              <clr-option clrValue="ta">தமிழ்</clr-option>
              <clr-option clrValue="th">ไทย</clr-option>              
            </clr-options>
          </clr-combobox>
        </clr-combobox-container>
      </form>

      <div class="alert alert-info" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
            </div>
            <div>
              <span class="alert-text">{{'Missing your language?  You can add translations'|translate}} <a href="https://crowdin.com/project/zapddit/invite?h=967673c906e9bbbf0c0e70163ad21a831876562" target="_blank" translate>here</a>.</span>
            </div>
          </div>
        </div>
      </div>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel *ngIf="!ndkProvider.isTryingZapddit">
  <clr-accordion-title>{{'Bitcoin Connect'|translate}} <cds-icon shape="bitcoin" solid="true" class="btc-icon" size="md"></cds-icon></clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form onsubmit="return false;">
        <bc-button app-name="zapddit"/>
        <label>{{'Connect to upzap/downzap with minimal effort using'|translate}} <a href="https://bitcoin-connect.com/" target="_blank" translate>Bitcoin Connect</a></label>
      </form>       
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel *ngIf="!ndkProvider.isTryingZapddit">
    <clr-accordion-title>{{'Zaps'|translate}} ⚡</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form clrForm onsubmit="return false;">
        <clr-textarea-container>
            <label translate>Downzap Recipient's npub</label>
            <textarea clrTextarea
            [disabled]="!ndkProvider.canWriteToNostr"
            cols="50"
            id="downzap-recipients"
            [(ngModel)]="downzapRecipientInForm"
            [ngModelOptions]="{standalone: true}"
            placeholder="{{'npub of the recipient'|translate}}" >{{ downzapRecipientInForm }}</textarea>
            <clr-control-helper translate>npub of the person who will receive the sats for your downzaps</clr-control-helper>
        </clr-textarea-container>
        <div>
          <app-user-pic-and-name npub="{{downzapRecipientInForm}}"></app-user-pic-and-name>
        </div>  

        <div *ngIf="downzapRecipientsError" class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
              </div>
              <span class="alert-text">
                {{ downzapRecipientsError }}
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="downzapSetSuccessMessage" class="alert alert-success" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
              </div>
              <span class="alert-text">
                {{ downzapSetSuccessMessage }}
              </span>
            </div>
          </div>
        </div>
         <button type="submit" [disabled]="isLoggedInUsingPubKey"
          class="btn btn-primary" (click)="saveDownzapRecipients()">Save</button>
    </form>   
    <form clrForm onsubmit="return false;">
      <clr-checkbox-container clrInline>
        <clr-checkbox-wrapper>
          <label>{{'Hide non-zap options for upvote and downvote'|translate}}</label>
          <input type="checkbox" [(ngModel)]="hideNonZapReactions" id="hide-non-zap" clrCheckbox
          placeholder="{{'Hide Non Zap Reactions'|translate}}" (ngModelChange)="onHideNonZapChange($event)" name="hideNonZap" id="hideNonZap">
        </clr-checkbox-wrapper>
        <clr-control-helper translate>Enable this option to hide non-zap upvote and downvotes for notes and comments.</clr-control-helper>
      </clr-checkbox-container>
    </form>
    <form clrForm onsubmit="return false;">
      <clr-input-container>
          <label translate>No. of sats for Zaps</label>
          <input clrInput
          [disabled]="isLoggedInUsingPubKey"
          type="number"
          id="sats-for-zaps"
          value="{{ ndkProvider.defaultSatsForZaps }}" >
          <clr-control-helper translate>These many sats will be sent when you zap</clr-control-helper>
      </clr-input-container>
      <button [clrLoading]="settingDefaultSats" [disabled]="isLoggedInUsingPubKey"
       type="submit" class="btn btn-primary" (click)="setDefaultSats()" translate>Save</button>
    </form>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel *ngIf="!ndkProvider.isTryingZapddit">
    <clr-accordion-title>{{'Support zapddit devs'|translate}} <cds-icon shape="heart" solid="true" size="md"></cds-icon></clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <div class="alert alert-info" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
              </div>
              <div>
                <span class="alert-text">{{'This feature works only when you have Bitcoin Connect enabled in your preferences'|translate}} </span>
              </div>
            </div>
          </div>
        </div>
        <form clrForm>
          <clr-range-container [clrRangeHasProgress]="true">
            <label>Percentage of split</label>
            <input type="range" min="0" max="100" step="0.5" clrRange [(ngModel)]="zapSplitPercentage" (ngModelChange)="zapSplitPercentageChange($event)" name="zapSplitPercentage" />
            <clr-control-helper>{{zapSplitPercentage}} {{'% of sats from your zaps will go to zapddit developers'|translate}}</clr-control-helper>
          </clr-range-container>
          </form>       
      </clr-accordion-content>
    </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title translate>Communities</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form clrForm onsubmit="return false;">
        <clr-checkbox-container clrInline>
          <clr-checkbox-wrapper>
            <label translate>Show unmoderated feed by default</label>
            <input type="checkbox" [(ngModel)]="showUnapprovedPosts" id="show-unapproved-posts" clrCheckbox
            (ngModelChange)="onShowUnapprovedChange($event)" name="showUnapproved" id="showUnapproved"/>
          </clr-checkbox-wrapper>
          <clr-control-helper translate>Never mind about moderator approvals. Show all notes.</clr-control-helper>
        </clr-checkbox-container>
      </form>

      <form clrForm onsubmit="return false;">
        <clr-checkbox-container clrInline>
          <clr-checkbox-wrapper>
            <label>{{'Set Communities Feed as your default feed'|translate}}</label>
            <input type="checkbox" [(ngModel)]="showCommunitiesFeedByDefault" id="default-communities-feed" clrCheckbox
            (ngModelChange)="onDefaultFeedChange($event)" name="default-communities-feed" id="default-communities-feed">
          </clr-checkbox-wrapper>
          <clr-control-helper translate>Enable this option to see Communities by default when you go to 'My Feed' page.</clr-control-helper>
        </clr-checkbox-container>
      </form>
    </clr-accordion-content>
  </clr-accordion-panel>


  <clr-accordion-panel>
    <clr-accordion-title translate>Muted Topics</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form *ngIf ="!isLoggedInUsingPubKey" clrForm onsubmit="return false;">
        <clr-input-container>
            <label translate>Hashtag to mute</label>
            <input clrInput
            type="text"
            id="topic-to-mute"
            placeholder="{{'#Hashtag to mute'|translate}}">
            <clr-control-helper translate>Any post with this tag will not be shown by zapddit to you</clr-control-helper>
        </clr-input-container>
        <button [clrLoading]="mutingTopic" type="submit" class="btn btn-primary" (click)="muteTopic()" translate>Mute</button>
    </form>
    <h4 translate>Muted Topics</h4>
    <div *ngIf="ndkProvider.appData.mutedTopics && ndkProvider.appData.mutedTopics !== ''">
      <p *ngFor="let topic of mutedTopics; ">
        #{{ topic }}
        <cds-icon *ngIf="!isLoggedInUsingPubKey" class="trash-icon" status="danger" size="md" shape="trash"  title="{{'Unmute'|translate}}" (click)="unmuteTopic(topic)"></cds-icon>
      </p>
    </div>
    <p *ngIf ="!ndkProvider.appData.mutedTopics || ndkProvider.appData.mutedTopics === '' " translate>No topics muted</p>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title translate>Media Display</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form clrForm onsubmit="return false;">
        <clr-checkbox-container clrInline>
          <clr-checkbox-wrapper>
            <label>{{(ndkProvider.isTryingZapddit)?('Blur all media'|translate):('Blur media from people I don\'t follow'|translate)}}</label>
            <input type="checkbox" [(ngModel)]="loadContentFromPeopleIFollow" id="load-media" clrCheckbox
            placeholder="{{'Load Media'|translate}}" (ngModelChange)="onMediaSettingChange($event)" name="loadContentFromPeopleIFollow" id="loadContentFromPeopleIFollow">
          </clr-checkbox-wrapper>
          <clr-control-helper *ngIf="!ndkProvider.isTryingZapddit" translate>Enable this option to show media only from people you follow.</clr-control-helper>
        </clr-checkbox-container>
    </form>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel *ngIf="!ndkProvider.isTryingZapddit">
    <clr-accordion-title translate>Backup Private Key</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form *ngIf ="ndkProvider.isLoggedInUsingNsec" clrForm onsubmit="return false;">
          <button type="button" class="btn btn-primary" (click)="copyPrivateKey()" translate>Copy to clipboard</button>
      </form>
      <div *ngIf ="!ndkProvider.isLoggedInUsingNsec" class="alert alert-warning" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <cds-icon class="alert-icon" shape="exclamation-triangle"></cds-icon>
                </div>
                <span class="alert-text" translate>You are not logged in using your private key. May be you have logged in using the NIP-07 extension or your public key.</span>
            </div>
        </div>
      </div>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel *ngIf="!ndkProvider.isTryingZapddit">
    <clr-accordion-title translate>My Relays</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <form clrForm onsubmit="return false;">
        <div *ngIf="this.relays && this.relays.length > 0">
          <ul class="list-unstyled">
            <ng-template ngFor let-item [ngForOf]="this.relays" let-i="index" >
              <li value="index" >
                <cds-icon class="trash-icon" status="danger" size="sm" shape="trash" title="{{'Unsubscribe'|translate}}" (click)="this.removeRelay(item.name)"></cds-icon>
                <span>&nbsp;</span>
                <cds-icon *ngIf="item.read" class="download-cloud" size="sm" shape="download-cloud" title="{{'Read'|translate}}"></cds-icon>
                <cds-icon *ngIf="item.write" class="upload-cloud" size="sm" shape="upload-cloud" title="{{'Write'|translate}}"></cds-icon>
                {{item.url}}
              </li>
            </ng-template>
          </ul>
        </div>
      </form>
      <form *ngIf="!isLoggedInUsingPubKey" clrForm onsubmit="return false">
        <clr-input-container>
          <label translate>Add Relay</label>
          <input clrInput
            type="text"
            id="relay-to-add"
            placeholder="wss://relay.example.com" />
          <clr-control-helper translate>Websocket url of the new relay</clr-control-helper>
        </clr-input-container>
        <clr-checkbox-container clrInline>
          <label translate>Relay Settings</label>
          <clr-checkbox-wrapper>
            <label translate>Read</label>
            <input type="checkbox" id="relay-read" name="relay-read" clrCheckbox checked />
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <label translate>Write</label>
            <input type="checkbox" id="relay-write" name="relay-write" clrCheckbox checked />
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <button [clrLoading]="addingRelay" type="submit" class="btn btn-primary" (click)="addRelay()" translate>Add</button>
      </form>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
