::ng-deep.nav>.active {
  font-size: large;
  font-weight: bold;
}

.center-text{
  text-align: center;
}

.profile-field{
  padding: 1em
}

input,
textarea{
  width: 80% !important;
  margin-left: 10rem;
}



.pb-2{
  padding-bottom: 2em;
}

.pt-2{
  padding-top:2em;
}

.avatar-image {
  max-height: 100px;
  clip-path: circle();
  margin-right: 3px;
}

.middle{
  vertical-align: middle;
  position: relative;
}

.text-vmiddle{
  top:50%;
  position:absolute
}

@media only screen and (max-width: 995px) {
  .text-vmiddle{
    top:0%;
    position:absolute;
  }

  .middle{
    vertical-align: middle;
    position: relative;
    margin-bottom: 10px;
  }

  .avatar-image {
    max-height: 100px;
    border-radius: 50%;
    margin-right: 3px;
    margin-top:12px;
  }

  input,
  textarea{
    width: 80% !important;
    margin-left: 0rem;
  }
}

.mb-20{
  margin-bottom: 20px;
}

.large-text{
  font-size: medium;
}

.mr-5{
  margin-right: 5px;
}
.fright{
  float: right;
}

.about{
  width: 80%;
  height: 4rem;
}

.ml-4{
  margin-left: 4px;
}

.profile-pic {
	position: relative;
	display: inline-block;
}

.profile-pic:hover .edit {
	display: block;
}

.edit {
	padding-top: 7px;
	position: absolute;
	right: 60%;
	top: -12%;
	display: none;
}

.edit a {
	color: #000;
}
