::ng-deep.nav>.active {
  font-size: large;
  font-weight: bold;
}

.center-text{
  text-align: center;
}

.profile-field{
  padding: 1em;
}

.pb-2{
  padding-bottom: 2em;
}

.pt-2{
  padding-top:2em;
}
