<div class="main-container pt-2">
  <clr-tabs #tabs>
  <clr-tab>
      <button clrTabLink class="large-text">🤓 Profile Details</button>
      <clr-tab-content *clrIfActive>
        <div class="clr-row pt-2">
          <div class="clr-col-lg-6 clr-col-md-8  clr-col-xl-3" >
            <div class="clr-row profile-field">
              <div class="clr-col-lg-6 middle"><span class="text-vmiddle"><strong>Avatar</strong></span></div>
              <div class="clr-col-lg-6">
              <img
                *ngIf="user?.pictureUrl"
                [src]="user?.pictureUrl"
                class="avatar-image"
                alt="profile" />
                <img
                *ngIf="!(user?.pictureUrl)"
                src="https://robohash.org/7OG.png?set=set2&size=150x150"
                class="avatar-image"
                alt="profile" />
              </div>
            </div>
            <div class="clr-row profile-field">
              <div class="clr-col-lg-6"><strong>Name</strong></div>
              <div class="clr-col-lg-6">{{user?.name}}</div>
            </div>
            <div class="clr-row profile-field">
              <div class="clr-col-lg-6"><strong>Display Name</strong></div>
              <div class="clr-col-lg-6">{{user?.displayName}}</div>
            </div>
            <div class="clr-row profile-field">
              <div class="clr-col-lg-6"><strong>npub</strong></div>
              <div class="clr-col-lg-6">{{user?.npub}}</div>
            </div>
            <div class="clr-row profile-field">
              <div class="clr-col-lg-6"><strong>NIP05</strong></div>
              <div class="clr-col-lg-6">{{user?.nip05}}</div>
            </div>

            <div class="clr-row profile-field">
              <div class="clr-col-lg-6"><strong>About</strong></div>
              <div class="clr-col-lg-6">{{user?.about}}</div>
            </div>
          </div>
        </div>
      </clr-tab-content>
  </clr-tab>

  <clr-tab>
      <button clrTabLink class="large-text">🕸 People I Follow</button>
      <clr-tab-content *clrIfActive (click)="followingTabClicked()">
        <div class="clr-row clr-justify-content-center pt-2 mb-20">
            <div *ngIf="loadingPeopleYouFollow" class="clr-col-12 clr-col-md-8">
              <div class="event-loading-spinner clr-justify-content-center">
                <span class="spinner spinner-md">Loading people you follow...</span>
              </div>
            </div>

            <div *ngIf="!(loadingPeopleYouFollow) && peopleIFollow?.length === 0"  class="clr-row clr-justify-content-center">
              <div class="alert-items">
                  <div class="alert-item static clr-justify-content-center">
                    <span class="alert-text">Not following anyone yet. May be try following some people? <br/> Like <a href="https://snort.social/p/npub1ltx67888tz7lqnxlrg06x234vjnq349tcfyp52r0lstclp548mcqnuz40t">@vivganes</a>?</span>
                  </div>
              </div>
            </div>

            <div *ngFor="let item of peopleIFollow" class="clr-col-12 clr-col-md-8">
              <app-contact-card [contact]="item" [showFollow] = "true" (contactListUpdated)="onContactListChange()"></app-contact-card>
            </div>
        </div>
      </clr-tab-content>
  </clr-tab>

  <clr-tab *ngIf="isMobileScreen">
    <button clrTabLink [clrTabLinkInOverflow]="true" (click)="mutedTabClicked()" class="large-text">🔇 People I Muted</button>
    <clr-tab-content *clrIfActive >
      <div class="clr-row clr-justify-content-center pt-2 mb-20">
          <div *ngIf="loadingPeopleYouMuted" class="clr-col-12 clr-col-md-8">
            <div class="event-loading-spinner clr-justify-content-center">
              <span class="spinner spinner-md">Loading people you muted...</span>
            </div>
          </div>

          <div *ngIf="!(loadingPeopleYouMuted) && peopleIMuted?.length === 0"  class="clr-row clr-justify-content-center">
            <div class="alert-items">
                <div class="alert-item static clr-justify-content-center">
                  <span class="alert-text">Looks like you haven't muted anyone yet.</span>
                </div>
            </div>
          </div>

          <div *ngFor="let item of peopleIMuted" class="clr-col-12 clr-col-md-8">
            <app-contact-card [contact]="item" [showFollow] = "false" (contactListUpdated)="onContactListChange()"></app-contact-card>
          </div>
      </div>
    </clr-tab-content>
  </clr-tab>

  <clr-tab *ngIf="!isMobileScreen" >
    <button clrTabLink (click)="mutedTabClicked()" class="large-text">🔇 People I Muted</button>
    <clr-tab-content *clrIfActive >

      <div class="clr-row clr-justify-content-center pt-2 mb-20">
          <div *ngIf="loadingPeopleYouMuted" class="clr-col-12 clr-col-md-8">
            <div class="event-loading-spinner clr-justify-content-center">
              <span class="spinner spinner-md">Loading people you muted...</span>
            </div>
          </div>

          <div *ngIf="!(loadingPeopleYouMuted) && peopleIMuted?.length === 0"  class="clr-row clr-justify-content-center">
            <div class="alert-items">
                <div class="alert-item static clr-justify-content-center">
                  <span class="alert-text">Looks like you haven't muted anyone yet.</span>
                </div>
            </div>
          </div>

          <div *ngFor="let item of peopleIMuted" class="clr-col-12 clr-col-md-8">
            <app-contact-card [contact]="item" [showFollow] = "false" (contactListUpdated)="onContactListChange()"></app-contact-card>
          </div>
      </div>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
</div>
