<div class="main-container pt-2">
  <clr-tabs #tabs>
  <clr-tab>
      <button clrTabLink class="large-text">🤓 Profile Details</button>
      <clr-tab-content *clrIfActive>
        <div class="clr-row pt-2">
          <div>
            <form clrForm #profileForm="ngForm" novalidate>
            <div class="clr-row profile-field">
              <div class="clr-col-lg-6"><strong>npub</strong></div>
              <div class="clr-col-lg-6">{{user.npub}}</div>
            </div>
            <div class="clr-row profile-field">
              <div class="clr-col-lg-6 middle"><span class="text-vmiddle"><strong>Avatar</strong></span></div>
              <div class="clr-col-lg-6 profile-pic">
              <img
                *ngIf="user.pictureUrl"
                [src]="user.pictureUrl"
                class="avatar-image pointer-cursor"
                alt="profile" (click)="editPictureUrl()"/>
              <img
                *ngIf="!(user.pictureUrl)"
                src="https://robohash.org/7OG.png?set=set2&size=150x150"
                class="avatar-image pointer-cursor"
                alt="profile" (click)="editPictureUrl()"/>
                <div class="edit"><a href="#"><cds-icon shape="note"></cds-icon></a></div>
              </div>
            </div>
            <div class="clr-row profile-field ml-4" *ngIf="editPicture">
              <clr-input-container>
              <label><strong>New Picture URL</strong></label>
              <input clrInput
                                type="text"
                                id="nostr-picture-url"
                                [(ngModel)]="newPictureUrl"
                                (ngModelChange)="updateNewPictureUrl($event)"
                                placeholder="Enter your new picture url here..."
                                name="pictureUrl" [clrLoading]="user.pictureUrl">
              </clr-input-container>
            </div>
            <div class="clr-row profile-field"  *ngIf="showNewPicture">
              <div class="clr-col-lg-6 middle"><span class="text-vmiddle"><strong>New picture preview</strong></span></div>
              <div class="clr-col-lg-6 profile-pic">
                <img *ngIf="showNewPicture"
                [src]="newPictureUrl"
                class="avatar-image pointer-cursor"
                alt="Invalid Picture URL"/>
                <img *ngIf="!showNewPicture"
                src="https://images.unsplash.com/photo-1568879844413-7827cbf81261?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=150&q=20"
                class="avatar-image"
                alt="Invalid Picture URL"/>
              </div>
            </div>

            <div class="clr-row profile-field ml-4">
              <clr-input-container>
                <label><strong>Name</strong></label>
                <input clrInput
                                type="text"
                                id="nostr-name"
                                [(ngModel)]="user.name"
                                placeholder="Give yourself a cool name here..."
                                name="name" >
              </clr-input-container>
            </div>
            <div class="clr-row profile-field ml-4">
              <clr-input-container >
              <label><strong>Display Name</strong></label>
              <input clrInput
                                type="text"
                                id="nostr-display-name"
                                [(ngModel)]="user.displayName"
                                placeholder="Enter your display name here..."
                                name="displayName">
              </clr-input-container>
            </div>
            <div class="clr-row profile-field ml-4">
            <clr-input-container>
              <label><strong>NIP05</strong></label>
              <input clrInput
                                type="text"
                                id="nostr-nip05"
                                [(ngModel)]="user.nip05"
                                placeholder="Enter your NIP05 address here..."
                                name="nip05">
            </clr-input-container>
            </div>

            <div class="clr-row profile-field ml-4">
              <clr-textarea-container>
              <label><strong>About</strong></label>
              <textarea clrTextarea
                                class="about"
                                id="nostr-about"
                                [(ngModel)]="user.about"
                                placeholder="Give some information about yourself"
                                name="about" ></textarea>

            </clr-textarea-container>
            </div>
            <div  class="clr-row profile-field">
              <div class="clr-row profile-field">
                <button class="btn btn-primary btn-sm btn-icon" (click)="onSave()" [disabled]="saveDisabled"><cds-icon shape="floppy" class="mr-5">
                </cds-icon>Save</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </clr-tab-content>
  </clr-tab>

  <clr-tab>
      <button clrTabLink class="large-text" (click)="followingTabClicked()">🕸 People I Follow</button>
      <clr-tab-content *clrIfActive >
        <div class="clr-row clr-justify-content-center pt-2 mb-20">
            <div *ngIf="fetchingPeopleIFollowFromRelay && loadingPeopleYouFollow" class="clr-col-12 clr-col-md-8">
              <div class="event-loading-spinner clr-justify-content-center">
                <span class="spinner spinner-md">Loading people you follow...</span>
              </div>
            </div>

            <div *ngIf="!fetchingPeopleIFollowFromRelay && !(loadingPeopleYouFollow) && peopleIFollow?.length === 0"  class="clr-row clr-justify-content-center">
              <div class="alert-items">
                  <div class="alert-item static clr-justify-content-center">
                    <span class="alert-text">Not following anyone yet. May be try following some people? <br/> Like <a href="https://snort.social/p/npub1ltx67888tz7lqnxlrg06x234vjnq349tcfyp52r0lstclp548mcqnuz40t">@vivganes</a>?</span>
                  </div>
              </div>
            </div>

            <div *ngIf="!fetchingPeopleIFollowFromRelay && !loadingPeopleYouFollow" class="clr-col-12 clr-col-md-8">
              <div  *ngFor="let item of peopleIFollow" >
                <app-contact-card [contact]="item" [showFollow] = "showFollowButton" (contactListUpdated)="onContactListChange()"></app-contact-card>
              </div>
            </div>
            <div *ngIf="!fetchingPeopleIFollowFromRelay && !loadingPeopleYouFollow && (peopleIFollow && peopleIFollow.length>0)" class="clr-col-12 clr-col-md-8">
              <div *ngIf="peopleIFollow && peopleIFollow.length>0 && !reachedEndOfPeopleIFollow" align="center">
                <button class="btn btn-info-outline" (click)="loadMorePeopleIFollow()">Load
                  more</button>
              </div>
              <div *ngIf="reachedEndOfPeopleIFollow" align="center" class="clr-row clr-justify-content-center">
                <div class="alert alert-info clr-col-3" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
                      </div>
                      <span class="alert-text">That's all!</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </clr-tab-content>
  </clr-tab>

  <clr-tab *ngIf="isMobileScreen">
    <button clrTabLink [clrTabLinkInOverflow]="true" (click)="mutedTabClicked()" class="large-text">🔇 People I Muted</button>
    <clr-tab-content *clrIfActive >
      <div class="clr-row clr-justify-content-center pt-2 mb-20">
          <div *ngIf="fetchingMutedUsersFromRelay && loadingPeopleYouMuted" class="clr-col-12 clr-col-md-8">
            <div class="event-loading-spinner clr-justify-content-center">
              <span class="spinner spinner-md">Loading people you muted...</span>
            </div>
          </div>

          <div *ngIf="!fetchingMutedUsersFromRelay && !(loadingPeopleYouMuted) && peopleIMuted?.length === 0"  class="clr-row clr-justify-content-center">
            <div class="alert-items">
                <div class="alert-item static clr-justify-content-center">
                  <span class="alert-text">Looks like you haven't muted anyone yet.</span>
                </div>
            </div>
          </div>

          <div *ngIf="!fetchingMutedUsersFromRelay && !loadingPeopleYouMuted" class="clr-col-12 clr-col-md-8">
            <div *ngFor="let item of peopleIMuted">
              <app-contact-card [contact]="item" [showFollow] = "false" (contactListUpdated)="onContactListChange()"></app-contact-card>
            </div>
          </div>
          <div *ngIf="!fetchingMutedUsersFromRelay && !loadingPeopleYouMuted && (peopleIMuted && peopleIMuted.length>0)" class="clr-col-12 clr-col-md-8">
            <div *ngIf="peopleIMuted && peopleIMuted.length>0 && !reachedEndOfMutedPeople" align="center">
              <button class="btn btn-info-outline" (click)="loadMoreMutedPeople()">Load
                more</button>
            </div>
            <div *ngIf="reachedEndOfMutedPeople" align="center" class="clr-row clr-justify-content-center">
              <div class="alert alert-info clr-col-3" role="alert">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
                    </div>
                    <span class="alert-text">That's all!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </clr-tab-content>
  </clr-tab>

  <clr-tab *ngIf="!isMobileScreen" >
    <button clrTabLink (click)="mutedTabClicked()" class="large-text">🔇 People I Muted</button>
    <clr-tab-content *clrIfActive >

      <div class="clr-row clr-justify-content-center pt-2 mb-20">
          <div *ngIf="loadingPeopleYouMuted" class="clr-col-12 clr-col-md-8">
            <div class="event-loading-spinner clr-justify-content-center">
              <span class="spinner spinner-md">Loading people you muted...</span>
            </div>
          </div>

          <div *ngIf="!(loadingPeopleYouMuted) && peopleIMuted?.length === 0"  class="clr-row clr-justify-content-center">
            <div class="alert-items">
                <div class="alert-item static clr-justify-content-center">
                  <span class="alert-text">Looks like you haven't muted anyone yet.</span>
                </div>
            </div>
          </div>

          <div *ngIf="!loadingPeopleYouMuted" class="clr-col-12 clr-col-md-8">
            <div *ngFor="let item of peopleIMuted" >
              <app-contact-card [contact]="item" [showFollow] = "false" (contactListUpdated)="onContactListChange()"></app-contact-card>
            </div>
          </div>
          <div *ngIf="!loadingPeopleYouMuted && (peopleIMuted && peopleIMuted.length>0)" class="clr-col-12 clr-col-md-8">
            <div *ngIf="peopleIMuted && peopleIMuted.length>0 && !reachedEndOfMutedPeople" align="center">
              <button class="btn btn-info-outline" (click)="loadMoreMutedPeople()">Load
                more</button>
            </div>
            <div *ngIf="reachedEndOfMutedPeople" align="center" class="clr-row clr-justify-content-center">
              <div class="alert alert-info clr-col-3" role="alert">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
                    </div>
                    <span class="alert-text">That's all!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
</div>
