<div *ngIf="(community === undefined) && (feedType !== feedTypeOptions[1] )" class="search_form_mobile">
  <form class="search"  onsubmit="return false;">
    <label for="search_input_mobile">
        <input id="search_input_mobile" type="search"  class="hashtag-search-mobile" placeholder="#️ {{'Search hashtag'|translate}} ⏎" (keyup.enter)="searchFromMobile()">
        <cds-icon shape="search"></cds-icon>
    </label>
  </form>
</div>
<ng-template [ngIf]="tag !== undefined && community === undefined">
  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-12 clr-col-md-8">
      <h3>
        #{{ tag }}
        <ng-template [ngIf]="!isLoggedInUsingPubKey">
          <ng-template [ngIf]="!isTopicFollowed(tag)" [ngIfElse]="elseBlock">
            <button class="btn btn-sm btn-primary btn-icon" (click)="followTopic(tag)">
              <cds-icon shape="plus-circle" solid></cds-icon> {{'Follow'|translate}}
            </button>
          </ng-template>
          <ng-template #elseBlock>
            <button class="btn btn-sm btn-warning-outline btn-icon" (click)="unfollowTopic(tag)">
              <cds-icon shape="logout" solid></cds-icon> {{'Unfollow'|translate}}
            </button>
          </ng-template>
        </ng-template>
      </h3>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="community !== undefined && tag === undefined">
  <div class="clr-row clr-justify-content-center mb-5">
    <div class="clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-img">
          <img class="community-feed-banner" src="{{ community.image }}" alt="{{'Community image'|translate}}" />
        </div>
        <div class="card-block">
          <div class="card-title">
            <span>
              <img *ngIf="community?.image" (click)="openCommunityPage()" alt="{{'Community image'|translate}}"
                    src="{{ community.image }}" class="community-image pointer-cursor" title="{{'Browse'|translate}}" />
              <img alt="temp community avatar" (click)="openCommunityPage()" *ngIf="community?.image == undefined"
                    class="community-image pointer-cursor" src="https://robohash.org/{{ community.name }}.png?size=100x100"
                    title="Browse" /> 
              <span class="break-words-overflow feed-header-text"> n/{{community.name}}</span>
            </span>
            <span>
              <span translate> of </span> 
              <img *ngIf="community?.creatorProfile?.image" (click)="openCommunityCreatorInSnort()" alt="{{'Profile picture'|translate}}"
                    src="{{ community.creatorProfile?.image }}" class="community-image pointer-cursor" title="{{'Open in Snort'|translate}}"
                    onerror="this.onerror=null; this.src='https\://robohash.org/user.png?size=100x100'" />
              <img alt="temp avatar" (click)="openCommunityCreatorInSnort()" *ngIf="community?.creatorProfile?.image == undefined"
                    class="community-image pointer-cursor" src="https://robohash.org/{{ community.creatorHexKey }}.png?size=100x100"
                    title="{{'Open in Snort'|translate}}" />
              <span class="break-words-overflow"> {{community.creatorProfile?.displayName ? community.creatorProfile?.displayName : (community.creatorProfile?.name ? community.creatorProfile?.name : community.creatorHexKey | abbreviateId)}}</span>
              <span>&nbsp;<cds-icon class="alert-icon" shape="info-circle" (click)="showingCommunityInfo = true" title="{{'Show community details'|translate}}"></cds-icon>
              </span>
            </span>  
          </div>
          <div class="card-text">
            <div class="clr-toggle-wrapper">
              <input type="checkbox" id="toggle1" name="toggle-full" [(ngModel)]="showUnapprovedPosts" (ngModelChange)="loadFeedFromBeginning()" class="clr-toggle"  />
              <label for="toggle1" class="clr-control-label" translate>Show unmoderated feed</label>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="loadingCommunityDetails">
  <div align="center">
    <span class="spinner spinner-md"></span> 
    <p translate>Loading community details...</p>
  </div>
</ng-template>

<ng-template [ngIf]="(tag ===undefined && community === undefined) && !loadingCommunityDetails" #homefeedHeader>
  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-12 clr-col-md-8">
      <clr-select-container>
        <select  id="select-full" title="{{'Feed type'|translate}}" clrSelect name="options" [(ngModel)]="feedType" (ngModelChange)="onChangeFeedType($event)" class="giant-text-in-select select-feed-type">
          <option [value]="feedTypeOptions[0]" class="option-feed-type">#️⃣ {{'Topics Feed'|translate}}</option>
          <option [value]="feedTypeOptions[1]" class="option-feed-type">🫂 {{'Communities Feed'|translate}} - BETA</option>
        </select>
      </clr-select-container>      
      <div class="clr-control-container ml-5">
        <div class="clr-toggle-wrapper" *ngIf="feedType === feedTypeOptions[1]">
          <input type="checkbox" id="toggle1" name="toggle-full" [(ngModel)]="showUnapprovedPosts" (ngModelChange)="loadFeedFromBeginning()" class="clr-toggle"  />
          <label for="toggle1" class="clr-control-label" translate>Show unmoderated feed</label>
        </div>      
      </div>
    </div>
  </div>    
</ng-template>
<app-note-composer *ngIf="ndkProvider.canWriteToNostr && !loadingCommunityDetails && (feedType === feedTypeOptions[1] ? community: true)" [currentTag]="tag" (postedEventEmitter)="addEventToFeed($event)" [currentCommunity]="community"></app-note-composer>

<div *ngIf="(feedType === feedTypeOptions[0]) && !tag && !community && (!followedTopics || followedTopics?.length == 0) && (!events || events.size== 0)" class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-col-md-8">
      <div class="card">            
          <div class="card-block">
              <div align="center" class="card-text" translate>
                Uh oh! No topics followed yet. Take the discovery wizard for a test-drive?
                <div class="mt-20">
                  <button class="btn btn-primary" (click)="ndkProvider.triggerOnboardingWizard()" translate>Launch Wizard</button>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div *ngIf="(feedType === feedTypeOptions[1]) && (!community) && ndkProvider.appData.followedCommunities.length === 0 && (!events || events.size === 0)" class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-col-md-8">
      <div class="card">            
          <div class="card-block">
              <div align="center" class="card-text" translate>
                Uh oh! You have not joined any communities yet.
                <div class="mt-20">
                  <a class="btn btn-primary" routerLink="/communities/discover" translate>Discover Communities</a>
                </div>
              </div>
          </div>
      </div>
  </div>    
</div>
<div align="center" *ngIf="(!loadingEvents) && ((feedType === feedTypeOptions[0] && (tag || ndkProvider.appData.followedTopics!=='')) || (feedType === feedTypeOptions[1] && (community || ndkProvider.appData.followedCommunities!==''))) && (!events || (events && events.size == 0))">
  <div align="center" class="alert alert-info clr-col-12 clr-col-md-8" role="alert">
    <div class="alert-items">
      <div class="alert-item static clr-justify-content-center">
        <div class="alert-icon-wrapper">
          <cds-icon class="alert-icon" shape="info-circle"></cds-icon>
        </div>
        <span class="alert-text"> {{'No notes for you'|translate}} 🥲   It is possible that you could have muted topics from the preferences menu.
        </span>
      </div>
    </div>
  </div>
</div>
<ng-template [ngIf]="!loadingEvents">
  <div *ngFor="let event of events" class="clr-row clr-justify-content-center">
    <div class="clr-col-12 clr-col-md-8">
      <app-event-card [event]="event" [peopleIFollowLoadedFromRelay]="peopleIFollowLoadedFromRelay" [showUnapprovedPosts]="showUnapprovedPosts" [hideCommunityHeader]="community !== undefined" />
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="!loadingEvents && (tag || (followedTopics && followedTopics.length>0))">
  <div *ngIf="events && events.size>0 && !reachedEndOfFeed" align="center">
    <button [clrLoading]="loadingNextEvents" class="btn btn-info-outline" (click)="loadMoreEvents()" translate>Load
      more</button>
  </div>
  <div *ngIf="reachedEndOfFeed" align="center" class="clr-row clr-justify-content-center">
    <div class="alert alert-info clr-col-12 clr-col-md-8" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
          </div>
          <span class="alert-text">{{'Yaay! You reached the end of feed'|translate}} 😁</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div *ngIf="loadingEvents" class="event-loading-spinner">
  <span class="spinner spinner-md" translate>Loading notes...</span>
</div>
<clr-modal [(clrModalOpen)]="showingCommunityInfo" [clrModalSize]="'lg'">
  <h3 class="modal-title" translate>Community Details</h3>
  <div class="modal-body">
      <b><span class="break-words-overflow">n/{{community?.name}}</span></b> by {{community?.creatorProfile?.displayName ? community?.creatorProfile?.displayName : (community?.creatorProfile?.name ? community?.creatorProfile?.name : community?.creatorHexKey | abbreviateId)}}
      <h4 translate>Description</h4>      
      <p><ngx-dynamic-hooks [content]="community?.description | newLineToBr "></ngx-dynamic-hooks></p>
      <h4 translate>Moderators</h4>
      <div class="mt-20">
        <span *ngFor="let key of community?.moderatorHexKeys"><app-user-pic-and-name [hexKey]="key"></app-user-pic-and-name></span>
      </div>
      <h4 translate>Rules</h4>
      <p><ngx-dynamic-hooks [content]="community?.rules| newLineToBr "></ngx-dynamic-hooks></p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="showingCommunityInfo = false" translate>Ok</button>
  </div>
</clr-modal>