<div *ngIf="community === undefined" class="search_form_mobile">
  <form class="search"  onsubmit="return false;">
    <label for="search_input_mobile">
        <input id="search_input_mobile" type="search"  class="hashtag-search-mobile" placeholder="#️ Search hashtag ⏎" (keyup.enter)="searchFromMobile()">
        <cds-icon shape="search"></cds-icon>
    </label>
  </form>
</div>
<ng-template [ngIf]="tag !== undefined && community === undefined">
  <h3 align="center">
    #{{ tag }}
    <ng-template [ngIf]="!isLoggedInUsingPubKey">
      <ng-template [ngIf]="!isTopicFollowed(tag)" [ngIfElse]="elseBlock">
        <button class="btn btn-sm btn-primary btn-icon" (click)="followTopic(tag)">
          <cds-icon shape="plus-circle" solid></cds-icon> Follow
        </button>
      </ng-template>
      <ng-template #elseBlock>
        <button class="btn btn-sm btn-warning-outline btn-icon" (click)="unfollowTopic(tag)">
          <cds-icon shape="logout" solid></cds-icon> Unfollow
        </button>
      </ng-template>
    </ng-template>
  </h3>
</ng-template>
<ng-template [ngIf]="community !== undefined && tag === undefined">
  <div align="center" class="community-header">
    <h3>
      <img *ngIf="community?.image" (click)="openCommunityPage()" alt="Community image"
            src="{{ community.image }}" class="community-image pointer-cursor" title="Browse" />
      <img alt="temp community avatar" (click)="openCommunityPage()" *ngIf="community?.image == undefined"
            class="community-image pointer-cursor" src="https://robohash.org/{{ community.name }}.png?size=100x100"
            title="Browse" /> 
      <span class="break-words-overflow"> n/{{community.name}}</span>
    </h3>
    <div>
      <span class="smaller-text">Created by </span> 
      <img *ngIf="community?.creatorProfile?.image" (click)="openCommunityCreatorInSnort()" alt="Profile picture"
            src="{{ community.creatorProfile?.image }}" class="community-image pointer-cursor" title="Open in Snort" />
      <img alt="temp avatar" (click)="openCommunityCreatorInSnort()" *ngIf="community?.creatorProfile?.image == undefined"
            class="community-image pointer-cursor" src="https://robohash.org/{{ community.creatorHexKey }}.png?size=100x100"
            title="Open in Snort" />
      <span class="break-words-overflow"> {{community.creatorProfile?.displayName ? community.creatorProfile?.displayName : (community.creatorProfile?.name ? community.creatorProfile?.name : community.creatorHexKey | abbreviateId)}}</span>
    </div>    
    <div class="clr-control-container" align="center">
      <div class="clr-toggle-wrapper">
        <input type="checkbox" id="toggle1" name="toggle-full" [(ngModel)]="showUnapprovedPosts" class="clr-toggle"  />
        <label for="toggle1" class="clr-control-label">Unmoderated feed</label>
      </div>      
    </div>  
  </div>
</ng-template>
<ng-template [ngIf]="(tag ===undefined && community === undefined)" #homefeedHeader>
  <h3 align="center">
    🏡 My Feed
  </h3>
</ng-template>
<div *ngIf="(!tag) && followedTopics?.length == 0 && !events" class="clr-row clr-justify-content-center">
  <div align="center" class="alert alert-info clr-col-12 clr-col-md-8" role="alert">
    <div class="alert-items">
      <div class="alert-item static clr-justify-content-center">
        <div class="alert-icon-wrapper">
          <cds-icon class="alert-icon" shape="info-circle"></cds-icon>
        </div>
        <span class="alert-text">No topics followed yet. May be try following some topics? Like <a
            [routerLink]="['/t', 'coffeechain']">#coffeechain</a>?</span>
      </div>
    </div>
  </div>
</div>
<app-note-composer *ngIf="ndkProvider.canWriteToNostr" [currentTag]="tag" (postedEventEmitter)="addEventToFeed($event)" [currentCommunity]="community"></app-note-composer>
<div align="center" *ngIf="events && events.size == 0">
  <div align="center" class="alert alert-info clr-col-12 clr-col-md-8" role="alert">
    <div class="alert-items">
      <div class="alert-item static clr-justify-content-center">
        <div class="alert-icon-wrapper">
          <cds-icon class="alert-icon" shape="info-circle"></cds-icon>
        </div>
        <span class="alert-text"> No notes for you 🥲 May be try following more topics? Like <a
            [routerLink]="['/t', 'coffeechain']">#coffeechain</a>?
        </span>
      </div>
    </div>
  </div>
</div>
<div align="center" *ngIf="events && events.size == 0">
  Already following topics? It is possible that you could have muted topics from the preferences menu.
</div>
<ng-template [ngIf]="!loadingEvents">
  <div *ngFor="let event of events" class="clr-row clr-justify-content-center">
    <div class="clr-col-12 clr-col-md-8">
      <app-event-card [event]="event" [peopleIFollowLoadedFromRelay]="peopleIFollowLoadedFromRelay" [showUnapprovedPosts]="showUnapprovedPosts" />
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="!loadingEvents && (tag || (followedTopics && followedTopics.length>0))">
  <div *ngIf="events && events.size>0 && !reachedEndOfFeed" align="center">
    <button [clrLoading]="loadingNextEvents" class="btn btn-info-outline" (click)="loadMoreEvents()">Load
      more</button>
  </div>
  <div *ngIf="reachedEndOfFeed" align="center" class="clr-row clr-justify-content-center">
    <div class="alert alert-info clr-col-3" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
          </div>
          <span class="alert-text">Yaay! You reached the end of feed 😁</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div *ngIf="loadingEvents" class="event-loading-spinner">
  <span class="spinner spinner-md">Loading notes...</span>
</div>
