<span>
    <img *ngIf="user?.profile?.image" (click)="openAuthorInSnort()" alt="Profile picture"
        onerror="this.onerror=null; this.src='https\://robohash.org/unknown.png?size=100x100'"
        src="{{ user?.profile?.image }}" class="community-image pointer-cursor" 
        title="{{ (user?.profile?.displayName) ?
            user?.profile?.displayName:((user?.profile?.name)? user?.profile?.name : user?.hexpubkey()|abbreviateId) }} - Open in Snort" />
    <img alt="temp avatar" (click)="openAuthorInSnort()" *ngIf="user?.profile?.image == undefined"
        class="community-image pointer-cursor" src="https://robohash.org/{{ hexKey || user?.hexpubkey() }}.png?size=100x100"
        title="Open {{(hexKey || user?.hexpubkey()) | abbreviateId }} in Snort" />
    <span *ngIf="!onlyPic" class="pl-5">
            {{ (user?.profile?.displayName) ?
                    user?.profile?.displayName:((user?.profile?.name)? user?.profile?.name : user?.hexpubkey()|abbreviateId) }}
    </span>
    <span *ngIf="showClickableDeleteIcon">
        <cds-icon  shape="window-close" status="warning" (click)="onDeleteIconClicked($event)" title="Delete"></cds-icon>
    </span>
</span>
