<span>
    <img *ngIf="user?.profile?.image" (click)="openAuthorInSnort()" alt="Profile picture"
        src="{{ user?.profile?.image }}" class="community-image pointer-cursor" title="Open in Snort" />
    <img alt="temp avatar" (click)="openAuthorInSnort()" *ngIf="user?.profile?.image == undefined"
        class="community-image pointer-cursor" src="https://robohash.org/{{ user?.hexpubkey() }}.png?size=100x100"
        title="Open in Snort" />
     {{ (user?.profile?.displayName) ?
            user?.profile?.displayName:((user?.profile?.name)? user?.profile?.name : user?.hexpubkey()|abbreviateId) }}
</span>
