<div class="{{ 'clr-row clr-justify-content-center'+ (isReply? 'clr-row reply-card' : '') }}">
    <div class="{{ isReply ? 'clr-col-12' :'clr-col-md-8 clr-col-12' }}">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <div>
                        <textarea #noteText id='note-text' autocomplete="off" 
                        class="{{ isReply? 'compose-reply': 'compose-note' }} clr-textarea"
                        placeholder="Write something interesting here..." 
                        [mentionConfig]="{ items: (searchResults$ | async) || [], labelKey: 'displayName', mentionSelect: formatSelectedUser, disableSearch: true }"
                        [mentionListTemplate]="mentionListTemplate"
                        (searchTerm)="doSearch($event)"
                        >{{ (currentTag ? '#'+currentTag+' ' : '') }}</textarea>
                    </div>
                </div>
                <ng-template #mentionListTemplate class="color-blue" let-item="item">
                    <span>{{ item.name }}</span>
                    &nbsp;
                    <span>{{ item.displayName }}</span>
                    &nbsp;
                    <span>{{ item.npub }} </span>
                </ng-template>                
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" [disabled]="(!noteText.value) || (noteText.value.trim() === '')" [clrLoading]="isSendingNote" (click)="sendNote()">Post</button>
                <span *ngIf="noteSent">✅ {{ (isReply? 'Reply' : 'Note')  }} posted!</span>
            </div>
        </div>
    </div>
</div>

