<div *ngIf="isActivated" class="{{ 'clr-row clr-justify-content-center'+ (isReply? ' reply-card' : '') }}" (click)="onComposeClick($event)">
    <div class="{{ isReply ? 'clr-col-12' :'clr-col-md-8 clr-col-12' }}">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <div>
                        <textarea #noteText id='note-text' autocomplete="off"
                        (paste)="handlePaste($event)"
                        class="{{ isReply? 'compose-reply': 'compose-note' }} clr-textarea larger-text"
                        placeholder="{{isReply? ('Comment'|translate) : ('Write'|translate)}} {{'something interesting here'|translate}}..."
                        [mentionConfig]="{ items: (searchResults$ | async) || [], labelKey: 'displayName', mentionSelect: formatSelectedUser, disableSearch: true }"
                        [mentionListTemplate]="mentionListTemplate"
                        (searchTerm)="doSearch($event)"
                        >{{ (currentTag ? '#'+currentTag+' ' : '') }}</textarea>
                    </div>
                </div>
                <ng-template #mentionListTemplate class="color-blue" let-item="item">
                    <span>{{ item.name }}</span>
                    &nbsp;
                    <span>{{ item.displayName }}</span>
                    &nbsp;
                    <span>{{ item.npub }} </span>
                </ng-template>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" [disabled]="(!noteText.value) || (noteText.value.trim() === '') || NoteComposerComponent.loggedInWithNpub" [clrLoading]="isSendingNote" (click)="sendNote()" translate>Post</button>
                <button type="button" [clrLoading]="uploadingNow" class="btn btn-icon btn-link" aria-label="attach" title="{{'Attach Picture'|translate}}" (click)="attachFile()">
                    <cds-icon shape="paperclip"></cds-icon>
                </button>
                <span *ngIf="noteSent">✅ {{ (isReply? ('Reply'|translate) : ('Note'|translate))  }} {{'posted'|translate}}!</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isActivated" class="{{ 'clr-row clr-justify-content-center'+ (isReply? ' reply-card' : '') }}">
    <div class="{{ isReply ? 'clr-col-12' :'clr-col-md-8 clr-col-12' }}">
                <div class="clr-row clr-justify-content-between">
                    <div class="clr-col-md-1 clr-col-2 pt-10">
                        <app-user-pic-and-name [onlyPic]="true" [user]="ndkProvider.currentUser"/>
                    </div>
                    <div class="card clickable clr-col-md-10 clr-col-9 mt-0 mr-half-rem" (click)="activate()">
                        <h4 class="card-header">Create new note</h4>
                    </div>
                </div>

            </div>

</div>
