<div *ngIf="ndkProvider.loggingIn" class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-col-md-8">
    <div align="center" class="clr-row clr-justify-content-center">
      <span class="spinner spinner-md">Logging in...</span>
    </div>
  </div>
</div>

<div *ngIf="!ndkProvider.loggingIn" class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-col-md-8">
    <div class="clr-row">
      <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
          <h3 class="card-header">Secure Login (Recommended) 🔐</h3>
          <div class="card-block">
            <h4 class="card-title">NIP-07 Extension</h4>
            <div class="card-text">
              <p>
                Secure login to zapddit requires a NIP-07 extension to work. Don't have a NIP-07 extension? Refer
                <a href="https://github.com/nostr-protocol/nips/blob/master/07.md#implementation" target="_blank">this
                  page</a>
              </p>
              <p><button [clrLoading]="ndkProvider.loggingIn" class="btn btn-primary"
                (click)="attemptLoginWithNip07()">Login with NIP-07
              </button></p>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
          <h3 class="card-header">Alternate Login 🗝️</h3>
          <div class="card-block">
            <h4 class="card-title">Private/Public Key Login</h4>
            <div class="card-text">
              <form clrForm onsubmit="return false;">
                <clr-input-container>
                  <label>Key</label>
                  <input clrInput autocomplete="current-password" type="password" required id="pkey">
                  <clr-control-helper>Key starting with nsec(for read+write) or npub(read-only)</clr-control-helper>
                </clr-input-container>
                <div *ngIf="ndkProvider.loginError" class="alert alert-danger" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
                      </div>
                      <span class="alert-text">
                        {{ ndkProvider.loginError }}
                      </span>
                    </div>
                  </div>
                </div>
                <div>
                  <p><button [clrLoading]="ndkProvider.loggingIn" type="submit" class="btn btn-primary"
                    (click)="attemptLoginWithPrivateOrPubKey()">Login</button></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
          <h3 class="card-header">New to nostr? 🙋‍♂️</h3>
          <div class="card-block">
            <h4 class="card-title">Create a new user</h4>
            <div class="card-text">
              <p>
                Zapddit runs on top of nostr.  Click the button below to create a new user on the nostr ecosystem.
              </p>
              <p>
                You can use the same account in all the nostr clients.
              </p>
              <p><button [clrLoading]="ndkProvider.loggingIn" class="btn btn-primary"
                (click)="attemptGenerateNewCredential()">Create new nostr user
              </button></p>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
          <h3 class="card-header">Try zapddit⚡</h3>
          <div class="card-block">
            <h4 class="card-title">Not ready to use a nostr account yet?</h4>
            <div class="card-text">
              <p>
                You can have a clean lurker experience using this option.
              </p>     
              <p>
                All your settings are saved within browser's local storage and cleared when you logout.
              </p>         
              <p><button [clrLoading]="ndkProvider.loggingIn" class="btn btn-primary"
                (click)="attemptLoginWithoutAccount()">Try without an account
              </button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12">
        <div class="card card-block">
          <h3 class="card-title">We are opensource!</h3>
          <p class="card-text">
             Find zapddit on <a href='https://github.com/vivganes/zapddit' target="_blank">Github</a>.  Found bugs? Raise them <a href='https://github.com/vivganes/zapddit/issues/new' target="_blank">here</a>.
          </p>
      </div>
      </div>
    </div>
  </div>
</div>