<div *ngIf="ndkProvider.loggingIn" class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-col-md-8">
    <div align="center" class="clr-row clr-justify-content-center">
      <span class="spinner spinner-md" i18n>Logging in...</span>
    </div>
  </div>
</div>

<div *ngIf="!ndkProvider.loggingIn" class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-col-md-8">
    <div class="clr-row">
      <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
          <h3 class="card-header"><ng-container i18n>Secure Login (Recommended)</ng-container> 🔐</h3>
          <div class="card-block">
            <h4 class="card-title" i18n>NIP-07 Extension</h4>
            <div class="card-text">
              <p>
                <ng-container i18n>Secure login to zapddit requires a NIP-07 extension to work. Don't have a NIP-07 extension? Refer </ng-container>
                <a href="https://github.com/nostr-protocol/nips/blob/master/07.md#implementation" target="_blank" i18n>this
                  page</a>
              </p>
              <p><button [clrLoading]="ndkProvider.loggingIn" class="btn btn-primary"
                (click)="attemptLoginWithNip07()" i18n>Login with NIP-07
              </button></p>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
          <h3 class="card-header" i18n>Alternate Login 🗝️</h3>
          <div class="card-block">
            <h4 class="card-title" i18n>Private/Public Key Login</h4>
            <div class="card-text">
              <form clrForm onsubmit="return false;">
                <clr-input-container>
                  <label i18n>Key</label>
                  <input clrInput autocomplete="current-password" type="password" required id="pkey">
                  <clr-control-helper i18n>Key starting with nsec(for read+write) or npub(read-only)</clr-control-helper>
                </clr-input-container>
                <div *ngIf="ndkProvider.loginError" class="alert alert-danger" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
                      </div>
                      <span class="alert-text">
                        {{ ndkProvider.loginError }}
                      </span>
                    </div>
                  </div>
                </div>
                <div>
                  <p><button [clrLoading]="ndkProvider.loggingIn" type="submit" class="btn btn-primary"
                    (click)="attemptLoginWithPrivateOrPubKey()">Login</button></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
          <h3 class="card-header" i18n>New to nostr? 🙋‍♂️</h3>
          <div class="card-block">
            <h4 class="card-title" i18n>Create a new user</h4>
            <div class="card-text">
              <p i18n>
                Zapddit runs on top of nostr.  Click the button below to create a new user on the nostr ecosystem.
              </p>
              <p i18n>
                You can use the same account in all the nostr clients.
              </p>
              <p><button [clrLoading]="ndkProvider.loggingIn" class="btn btn-primary"
                (click)="attemptGenerateNewCredential()" i18n>Create new nostr user
              </button></p>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
          <h3 class="card-header" i18n>Try zapddit⚡</h3>
          <div class="card-block">
            <h4 class="card-title" i18n>Not ready to use a nostr account yet?</h4>
            <div class="card-text">
              <p i18n>
                You can have a clean lurker experience using this option.
              </p>     
              <p i18n>
                All your settings are saved within browser's local storage and cleared when you logout.
              </p>         
              <p><button [clrLoading]="ndkProvider.loggingIn" class="btn btn-primary"
                (click)="attemptLoginWithoutAccount()" i18n>Try without an account
              </button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12">
        <div class="card card-block">
          <h3 class="card-title" i18n>We are opensource!</h3>
          <p class="card-text">
            <ng-container i18n>Find zapddit on </ng-container><a href='https://github.com/vivganes/zapddit' target="_blank" i18n>Github</a>.  <ng-container i18n>Found bugs? Raise them </ng-container><a href='https://github.com/vivganes/zapddit/issues/new' target="_blank" i18n>here</a>.
          </p>
      </div>
      </div>
    </div>
  </div>
</div>