<div>
  <h3 align="center" i18n>
    🕸 People I follow
  </h3>
  <p align="center" i18n>You can see the people you follow here 👇</p>
</div>

<div class="clr-row clr-justify-content-center">
  <div *ngIf="loadingPeopleYouFollow" class="clr-col-12 clr-col-md-8">
    <div class="event-loading-spinner clr-justify-content-center">
      <span class="spinner spinner-md" i18n>Loading people you follow...</span>
    </div>
  </div>

  <div *ngIf="!(loadingPeopleYouFollow) && users?.length === 0"  class="clr-row clr-justify-content-center">
    <div class="alert-items">
        <div class="alert-item static clr-justify-content-center">
          <span class="alert-text"><ng-container i18n>Not following anyone yet. May be try following some people?</ng-container> <br/> <ng-container i18n>like</ng-container> <a href="https://snort.social/p/npub1ltx67888tz7lqnxlrg06x234vjnq349tcfyp52r0lstclp548mcqnuz40t">@vivganes</a>?</span>
        </div>
    </div>
  </div>

  <div *ngFor="let item of users" class="clr-col-12 clr-col-md-8">
    <app-contact-card [contact]="item" [showFollow] = "true" (contactListUpdated)="onContactListChange()"></app-contact-card>
  </div>

</div>
