
<lib-toastify-toast-container></lib-toastify-toast-container>

<clr-main-container>
  <clr-header class="header-3">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <img class="logo-header" src="/assets/icons/logo-without-text-zapddit.svg"/>
        <span class="title main-title-font">zapddit</span>
      </a>
    </div>

    <form *ngIf="isLoggedIn() && !isMobileScreen" class="search" spellcheck="false"  onsubmit="return false;">
      <label for="search_input">
          <input id="search_input" type="text"  placeholder="{{'# '+ ('Search hashtag'| translate) + ' ⏎'}}" (keyup.enter)="search()">
      </label>
    </form>

    <div class="header-actions">
      <a *ngIf="isLoggedIn() && !isMobileScreen" href="javascript://" (click)="openWizard()" class="nav-link" aria-label="setup" title="{{'Onboarding Wizard' | translate}}">
        <cds-icon shape="wand" solid></cds-icon>
      </a>
      <a *ngIf="darkTheme" href="javascript://" (click)="switchTheme()" class="nav-link" aria-label="theme">
        <cds-icon shape="sun" solid></cds-icon>
      </a>
      <a *ngIf="!darkTheme" href="javascript://" (click)="switchTheme()" class="nav-link" aria-label="theme">
        <cds-icon shape="moon" solid></cds-icon>
      </a>
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="toggle settings menu">
          <app-user-pic-and-name [npub]="ndkProvider.currentUserNpub"/>
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a *ngIf="ndkProvider.isTryingZapddit" routerLink="/login" clrDropdownItem translate>Login</a>
            <a href="javascript://" (click)="openWizard()" aria-label="setup" clrDropdownItem translate>
              Onboarding Wizard
            </a>
            <a *ngIf="!ndkProvider.isTryingZapddit" routerLink="/profile" clrDropdownItem translate>Profile</a>
            <a routerLink="/preferences" clrDropdownItem translate>Preferences</a>
            <a href="javascript://" (click)="logout()" aria-label="logout" clrDropdownItem translate>
              Logout
            </a>
        </clr-dropdown-menu>
    </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <app-onboarding-wizard [open]="wizardIsOpen" (openChange)="wizardIsOpen = !wizardIsOpen"></app-onboarding-wizard>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="sidebarCollapsed" *ngIf="isLoggedIn()" [clr-nav-level]="1" class="custom-scroll-bar">
      <a *ngIf="ndkProvider.isTryingZapddit" title="My Feed" clrVerticalNavLink routerLink="/login" routerLinkActive="active">
        <cds-icon shape="key" clrVerticalNavIcon></cds-icon><span class="nav-text" translate>Login</span>
      </a>
      <a title="My Feed" clrVerticalNavLink routerLink="/feed" routerLinkActive="active">
        <cds-icon shape="home" clrVerticalNavIcon></cds-icon><span class="nav-text" translate>My Feed</span>
      </a>
      <a title="Profile" *ngIf="!ndkProvider.isTryingZapddit" clrVerticalNavLink routerLink="/profile" routerLinkActive="active">
        <cds-icon shape="user" clrVerticalNavIcon></cds-icon><span class="nav-text" translate>Profile</span>
      </a>
      <a title="Preferences" clrVerticalNavLink routerLink="/preferences" routerLinkActive="active">
        <cds-icon  shape="cog" clrVerticalNavIcon></cds-icon><span class="nav-text" translate>Preferences</span>
      </a>
      <a title="{{ndkProvider.isTryingZapddit ? ('Reset Data'|translate) : ('Logout'|translate)}}" clrVerticalNavLink href="#" (click)="logout()">
        <cds-icon shape="logout" clrVerticalNavIcon></cds-icon><span class="nav-text">{{ndkProvider.isTryingZapddit ? ('Reset Data'|translate) : ('Logout'|translate)}}</span>
      </a>
      <div class="nav-divider"></div>
      <label class="nav-header" *ngIf="!sidebarCollapsed">
        {{'Communities'|translate}} <span class="label label-info" translate>BETA</span></label>
      <a title="{{'Recently active communities'|translate}}"  clrVerticalNavLink routerLink="/communities/recently-active" routerLinkActive="active">
        <cds-icon shape="bubble-exclamation" clrVerticalNavIcon></cds-icon><span class="nav-text" translate>Recently active</span>
      </a>
      <a title="{{'Search communities'|translate}}"  clrVerticalNavLink routerLink="/communities/discover" routerLinkActive="active">
        <cds-icon shape="search" clrVerticalNavIcon></cds-icon><span class="nav-text" translate>Search</span>
      </a>
      <a title="{{'Joined communities'|translate}}" clrVerticalNavLink routerLink="/communities/joined" routerLinkActive="active">
        <cds-icon shape="internet-of-things" clrVerticalNavIcon></cds-icon><span class="nav-text" translate>Joined</span>
      </a>
      <a *ngIf="!ndkProvider.isTryingZapddit"  title="{{'Communities created by me'|translate}}" clrVerticalNavLink routerLink="/communities/own" routerLinkActive="active">
        <cds-icon shape="star" clrVerticalNavIcon></cds-icon><span class="nav-text" translate>Created by me</span>
      </a>
      <a *ngIf="!ndkProvider.isTryingZapddit" title="{{'Moderating communities'|translate}}" clrVerticalNavLink routerLink="/communities/moderating" routerLinkActive="active">
        <cds-icon shape="flag" clrVerticalNavIcon></cds-icon><span class="nav-text" translate>Moderating</span>
      </a>
      <div class="nav-divider"></div>
      <label class="nav-header"*ngIf="!sidebarCollapsed && followedTopics && followedTopics.length > 0" translate>Followed Topics</label>
      <app-topic *ngFor="let topic of followedTopics" [topic]="topic" [isMobileScreen]="isMobileScreen" [sidebarCollapsed]="sidebarCollapsed"></app-topic>
    </clr-vertical-nav>
    <div class="content-area" id="parent-container">
      <div *ngIf="isLoggedIn(); else notloggedin">
        <router-outlet (attach)="onAttach($event)"></router-outlet>
      </div>
      <ng-template #notloggedin>
        <div class="clr-row clr-justify-content-center">
          <div align="center">
            <span class="spinner" translate>
              Loading...
            </span>
          </div>
        </div>
        <div  align="center" class="clr-row clr-justify-content-center">
          <ul class="list list-spacer list-unstyled monospace">
            <li *ngFor="let notice of notices">{{notice}}</li>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>
</clr-main-container>
