<div class="main-container">

  <clr-alerts>
    <clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="true">
        <clr-alert-item>
        <span class="alert-text">

        </span>
        <div class="alert-actions">
            <button class="btn alert-action">Fix</button>
        </div>
    </clr-alert-item>
    </clr-alert>    
</clr-alerts>
  <header class="header header-6">
    <app-userprofile></app-userprofile>
  </header>
  <nav class="subnav">
      ...
  </nav>
  <div class="content-container">
      <div class="content-area">
        <app-nip07-login/>

   </div>
      <clr-vertical-nav>
         ...
        
      </clr-vertical-nav>
  </div>
</div>