<div class="clr-col-12" inViewport *ngIf="community"
(inViewportAction)="onShowInViewPort($event)"
>
    <div class="card">
        <div *ngIf="showHeaderImage" class="card-img">
            <img imageLoader *ngIf="community.image" (click)="openCommunityPage()" alt="{{'Community image'|translate}}" src="{{ community.image }}"
            class="community-banner pointer-cursor" title="{{'Browse'| translate}} n/{{community.name}}" 
            onerror="this.onerror=null; this.src='/assets/community-banner-1.png';"/>
        <img alt="temp community avatar" (click)="openCommunityPage()" *ngIf="community.image == undefined"
            class="community-banner pointer-cursor" src="/assets/community-banner-1.png"
            title="Browse n/{{community.name}}" />
        </div>
        <div class="card-header">
            <span class="break-words-overflow"> n/{{community.name}} <span class="smaller-text">of </span></span>
            <img imageLoader *ngIf="community?.creatorProfile?.image" (click)="openCommunityCreatorInSnort()" alt="Profile picture"
                onerror="this.onerror=null; this.src='https\://robohash.org/unknown.png?size=100x100'"
                src="{{ community.creatorProfile?.image }}" class="community-image pointer-cursor" title="Open in Snort" />
            <img imageLoader alt="temp avatar" (click)="openCommunityCreatorInSnort()"
                *ngIf="community?.creatorProfile?.image == undefined" class="community-image pointer-cursor"
                src="https://robohash.org/{{ community.creatorHexKey }}.png?size=100x100" title="Open in Snort" />
            <span class="break-words-overflow"> {{community.creatorProfile?.displayName ? community.creatorProfile?.displayName :
            (community.creatorProfile?.name ? community.creatorProfile?.name : (community.creatorHexKey | abbreviateId))}}</span>
        </div>
        <div class="card-block">
            <div *ngIf="lastActive" class="card-text break-words-overflow">
                <span class="badge badge-purple">
                    {{'Active'|translate}} {{lastActive | formatTimestamp }}
                  </span>
            </div>
            <div *ngIf="community.followersHexKeys" class="card-text break-words-overflow">
                <span><b>{{(community.followersHexKeys.length >0)? (community.followersHexKeys.length | shortNumber) : 0}}</b> {{community.followersHexKeys.length===1 ? ('person'|translate):('people'|translate)}} {{(community.followersHexKeys.length >0)? ('including'|translate):''}} </span>
                <span *ngFor="let follower of community.followersHexKeys.slice(0,3)">
                    <app-user-pic-and-name [hexKey]="follower" [onlyPic]="true"/>
                </span>
            </div>
            <div *ngIf="!lastActive" class="card-text break-words-overflow">
                <ngx-dynamic-hooks [content]="community.description | newLineToBr "></ngx-dynamic-hooks>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="openCommunityPage()" translate>Browse</button>
            <button *ngIf="!followingNow" [clrLoading]="joinOrLeaveInProgress" class="btn btn-sm btn-link" (click)="joinCommunity()" translate>Join</button>
            <button *ngIf="followingNow" class="btn btn-sm btn-link" (click)="leaveCommunity()" translate>Leave</button>
            <button *ngIf="community.creatorHexKey === currentUserHexKey " class="btn btn-sm btn-link" (click)="showEditCommunity = true" translate>Edit</button>
        </div>
    </div>
</div>
<div class="clr-col-12" inViewport *ngIf="!community && id">
          <div class="card">
            <div class="card-block">
                <div class="card-media-block">
                    {{'n/'+id.split(':')[2]}}
                </div>
                <div *ngIf="lastActive" class="card-text break-words-overflow">
                    <span class="badge badge-purple">
                        {{'Active'|translate}} {{lastActive | formatTimestamp }}
                      </span>
                </div>
            </div>
            <div class="card-block">
                <span class="spinner spinner-md" translate>Loading community...</span>
            </div>
          </div>

</div>
<app-create-community *ngIf="ndkProvider.canWriteToNostr" [show]="showEditCommunity" (onEditComplete)="editFinished($event)" (onClose)="popupClosed($event)"  [newCommunity]="community!" [editMode]="true"></app-create-community>
