<div>
  <div>
    <h3 *ngIf="!showOnlyOwnedCommunities && !showOnlyJoinedCommunities && !showOnlyModeratingCommunities" align="center">
        <cds-icon shape="users" size="lg" solid="true"></cds-icon> {{'Recently Created Communities'|translate}} <button type="button" class="btn btn-icon btn-primary btn-sm" aria-label="new community" (click)="showCreateCommunity = !showCreateCommunity" *ngIf="this.ndkProvider.canWriteToNostr">
            <cds-icon shape="plus-circle"></cds-icon> {{'New Community'|translate}}
        </button>
    </h3>
    <h3 *ngIf="showOnlyOwnedCommunities" align="center">
        <cds-icon shape="users" size="lg" solid="true"></cds-icon> {{'Communities you created'|translate}} <button type="button" class="btn btn-icon btn-primary btn-sm" aria-label="new community" (click)="showCreateCommunity = !showCreateCommunity" *ngIf="this.ndkProvider.canWriteToNostr">
            <cds-icon shape="plus-circle"></cds-icon> {{'New Community'|translate}}
        </button>
    </h3>
    <h3 *ngIf="showOnlyJoinedCommunities" align="center">
        <cds-icon shape="users" size="lg" solid="true"></cds-icon> {{'Communities you joined'|translate}} <button type="button" class="btn btn-icon btn-primary btn-sm" aria-label="new community" (click)="showCreateCommunity = !showCreateCommunity" *ngIf="this.ndkProvider.canWriteToNostr">
            <cds-icon shape="plus-circle"></cds-icon> {{'New Community'|translate}}
        </button>
    </h3>
    <h3 *ngIf="showOnlyModeratingCommunities" align="center">
        <cds-icon shape="users" size="lg" solid="true"></cds-icon> {{'Communities you moderate'|translate}} <button type="button" class="btn btn-icon btn-primary btn-sm" aria-label="new community" (click)="showCreateCommunity = !showCreateCommunity" *ngIf="this.ndkProvider.canWriteToNostr">
            <cds-icon shape="plus-circle"></cds-icon> {{'New Community'|translate}}
        </button>
    </h3>
  </div>  
</div>
<div class="clr-row clr-justify-content-end">
    <div class="clr-col-md-3 clr-col-10">
        <form class="search"  onsubmit="return false;">
            <label for="search_input_mobile">
                <input clrInput id="search_input" type="search"  placeholder="🔎︎ {{'Search'|translate}}..." [(ngModel)]="searchTerm" 
                name="search_input" (ngModelChange)="onSearchTermChange()">
            </label>
        </form>
    </div>
</div>
<div class="clr-row clr-justify-content-center">
    <div *ngIf="loadingEvents" class="clr-col-12">
        <div class="event-loading-spinner clr-justify-content-center">
            <span class="spinner spinner-md" translate>Loading communities...</span>
        </div>
    </div>

    <div *ngIf="!(loadingEvents) && communities?.length === 0" class="clr-row page-center">
        <div class="alert-items">
            <div class="alert-item static clr-justify-content-center">
                <span *ngIf="!showOnlyOwnedCommunities" class="alert-text" translate>No communities at all. Fishy!</span>
                <span *ngIf="showOnlyOwnedCommunities" class="alert-text" translate>You have not created any community so far.</span>
            </div>
        </div>
    </div>    

    <ng-template [ngIf]="searchTerm.length === 0">
        <div *ngFor="let community of communities " class="clr-col-12 clr-col-md-5">
            <app-community-card [community]="community" (onLeave)="onLeave($event)"></app-community-card>
        </div>
    </ng-template>
    <ng-template [ngIf]="searchTerm.length > 0">
        <div *ngFor="let community of searchResults " class="clr-col-12 clr-col-md-5">
            <app-community-card [community]="community" (onLeave)="onLeave($event)"></app-community-card>
        </div>
    </ng-template>
    
</div>

<app-create-community [show]="showCreateCommunity" (onClose)="onCloseCreateCommunity($event)"></app-create-community>
