<div>
  <h5 class="end">
    <button class="btn btn-primary btn-sm" (click)="showCreateCommunity = !showCreateCommunity" *ngIf="this.ndkProvider.canWriteToNostr">➕ New Community</button>
  </h5>
  <div>
    <h3 *ngIf="!showOnlyOwnedCommunities && !showOnlyJoinedCommunities" align="center">
        👥 Recently Created Communities
    </h3>
    <h3 *ngIf="showOnlyOwnedCommunities" align="center">
        👥 Communities you created
    </h3>
    <h3 *ngIf="showOnlyJoinedCommunities" align="center">
        👥 Communities you joined
    </h3>
  </div>
</div>

<div class="clr-row clr-justify-content-center">
    <div *ngIf="loadingEvents" class="clr-col-12 clr-col-md-8">
        <div class="event-loading-spinner clr-justify-content-center">
            <span class="spinner spinner-md">Loading communities...</span>
        </div>
    </div>

    <div *ngIf="!(loadingEvents) && communities?.length === 0" class="clr-row  page-center">
        <div class="alert-items">
            <div class="alert-item static clr-justify-content-center">
                <span *ngIf="!showOnlyOwnedCommunities" class="alert-text">No communities at all. Fishy!</span>
                <span *ngIf="showOnlyOwnedCommunities" class="alert-text">You have not created any community so far.</span>
            </div>
        </div>
    </div>

    <div *ngFor="let community of communities" class="clr-col-12 clr-col-md-8">
        <app-community-card [community]="community" (onLeave)="onLeave($event)"></app-community-card>
    </div>
</div>

<app-create-community [show]="showCreateCommunity" (onClose)="onCloseCreateCommunity($event)"></app-create-community>

