<clr-wizard [clrWizardOpen]="open" clrWizardSize="md" [clrWizardClosable]="false" >
    <clr-wizard-title translate>Get Started</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (click)="markWizardClosed()" translate>Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'" translate>Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'" translate>Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" (click)="acceptChoices()" translate>Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>{{'Hey there'|translate}} 👋</ng-template>
        <div class="card">
            <h3 class="card-header">{{'Welcome onboard'|translate}} 🫂</h3>
            <div class="card-block">
                {{'I\'m zapddit, a topic-based nostr browser.  Here, you follow topics, not people.'|translate}}
                <p translate>Travel with me, answering a few questions, while I set you up to enjoy the <span class="label label-info">#zapddit</span>experience 🚀</p>
                <p translate>Click 'Next' to begin.</p>
            </div>                    
        </div>
    </clr-wizard-page>

    <clr-wizard-page *ngIf="ndkProvider.isNewToNostr">
        <ng-template clrPageTitle translate>First things first</ng-template>
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <h3 class="card-header" translate>Backup your private key</h3>
                    <div class="card-block">
                        {{'Click on the button below to copy your private key. Keep it in a safe place.  Don't share this with anyone.'|translate}} 
                        <p translate>This is the key to access your nostr account across all clients.</p>
                        <button type="button" class="btn btn-primary" (click)="copyPrivateKey()" translate>Copy to clipboard</button>
                    </div>                    
                </div>
            </div>
        </div>  
    </clr-wizard-page>

    <clr-wizard-page *ngIf="ndkProvider.isNewToNostr">
        <ng-template clrPageTitle translate>Setup Profile</ng-template>
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <h3 class="card-header" translate>Setup your profile</h3>
                    <div class="card-block">
                        <form clrForm onsubmit="return false;">
                            <clr-input-container>
                                <label translate>Your Name</label>
                                <input clrInput
                                type="text"
                                id="nostr-display-name"
                                [(ngModel)]="newUserDisplayName"
                                placeholder="{{'Give yourself a cool name here...'|translate}}" 
                                name="display-name">
                                <clr-control-helper translate>This is how people will refer to you on the nostr ecosystem</clr-control-helper>
                            </clr-input-container>                           
                        </form>
                        
                    </div>                    
                </div>
            </div>
        </div>  
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle translate>Follow list</ng-template>
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <h3 class="card-header" translate>Who are you?</h3>
                    <div class="card-block">
                        <h4 class="card-title">{{'Select those that closely resemble you'|translate}} 👇</h4>
                        <clr-checkbox-container>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="dailyDoseSeeker" [(ngModel)]="dailyDoseSeeker" (change)="updateTopics()" />
                                <label translate>{{'I wish to start my day with a daily dose of nostr'|translate}} ☕</label>
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="newsReader" [(ngModel)]="newsReader" (change)="updateTopics()" />
                                <label>{{'I am a big news bug'|translate}} 📰</label>
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="memeEnjoyer" [(ngModel)]="memeEnjoyer" (change)="updateTopics()" />
                                <label>{{'I want memes! MEMES!'|translate}} 😆</label>
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="btcMaxi" [(ngModel)]="btcMaxi" (change)="updateTopics()"/>
                                <label>{{'I am an ardent Bitcoin nerd'|translate}} 🤓</label>
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="foodLover" [(ngModel)]="foodLover" (change)="updateTopics()"/>
                                <label>{{'I ❤️ food pictures'|translate}} 😋</label>
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="plebLover" [(ngModel)]="plebLover" (change)="updateTopics()"/>
                                <label>{{'I like welcoming new users'|translate}} 🫂</label>
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="clientsFan" [(ngModel)]="clientsFan" (change)="updateTopics()"/>
                                <label>{{'I need the hot goss about nostr clients'|translate}} 🧑‍💻</label>
                            </clr-checkbox-wrapper>
                          </clr-checkbox-container>
                    </div>                    
                </div>
            </div>
        </div>  
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle translate>Mute list</ng-template>
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <h3 class="card-header" translate>What annoys you?</h3>
                    <div class="card-block">
                        <h4 class="card-title" translate>Choose the ones that gravely annoy you</h4>
                        <div class="card-text">
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="cryptoRepeller" [(ngModel)]="cryptoRepeller" (change)="updateMuteList()" />
                                <label>{{'Bitcoin/Crypto Talk'|translate}} 🪙</label>
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="weirdStuffRepeller" [(ngModel)]="weirdStuffRepeller" (change)="updateMuteList()" />
                                <label>{{'Weird stuff (like feet stuff)'|translate}} 🦶 </label>
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="nonSporter" [(ngModel)]="nonSporter" (change)="updateMuteList()" />
                                <label>{{'Sports'|translate}} ⚽ </label>
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="twitterHater" [(ngModel)]="twitterHater" (change)="updateMuteList()" />
                                <label>{{'Twitter / Bird app'|translate}} 🐔 </label>
                            </clr-checkbox-wrapper>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle translate>Launch 🚀</ng-template>
        <div class="clr-row">
            <div class="clr-col-12">
                <p translate>You are almost there!</p>
                <p translate>Once you click <b>Finish</b>, I will auto-follow the suggested topics below and auto-mute the topics listed at the end.</p>
                <div *ngIf="!(ndkProvider.isNewToNostr || ndkProvider.isTryingZapddit)" class="alert alert-info" role="alert">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
                            </div>
                            <span class="alert-text" translate>Don't worry! If you already have a zapddit setup, I won't mess it up. I won't unfollow or unmute any topic that you already followed or muted.</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h4 class="card-header" translate>Topics to Follow</h4>
                    <div class="card-block">
                        <div class="card-text">
                            <span class="label label-info" *ngFor="let topic of suggestedTopics">#{{topic}}</span>
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    <h4 class="card-header" translate>Topics to Mute</h4>
                    <div class="card-block">
                        <div class="card-text">
                            <span class="label label-info" *ngFor="let topic of muteList">#{{topic}}</span>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </clr-wizard-page>

</clr-wizard>
