<ng-container >
  <clr-modal  [clrModalClosable]="true" 
   [clrModalOpen]="show" 
   (clrModalOpenChange)="onChange($event)" 
   [clrModalStaticBackdrop]="false">
    <h3 class="modal-title center">
      New Community
    </h3>
    <div class="modal-body">
    <div class="clr-row">
    <form clrForm #newCommunityForm="ngForm"
     clrLayout="vertical"
     novalidate 
     onsubmit="return false;">
      <div class="clr-col-12 ptb-3">
        <clr-input-container>
          <label>Display Name</label>
          <input clrInput required [(ngModel)]="newCommunity.displayName" (keydown.enter)="$event.preventDefault()"
          type="text" placeholder="eg: BotNostriches" (ngModelChange)="displayNameUpdate($event)"
          id="community-display-name" name="community-display-name">
          <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
        </clr-input-container>
      </div>
      <div class="clr-col-12 ptb-3">
        <clr-input-container >
          <label>Name</label>
          <input clrInput [disabled]="true" (keydown.enter)="$event.preventDefault()"
          type="text" required [value]="'n/'+ (newCommunity.name?newCommunity.name:'botnostriches')"
          id="community-name" name="community-name" >
          <clr-control-helper>Please enter display name, this will be automatically populated</clr-control-helper>
        </clr-input-container>
      </div>
      <div class="clr-col-12 ptb-3">
        <clr-input-container>
        <label>Image URL</label>
        <input clrInput [(ngModel)]="newCommunity.image" (keydown.enter)="$event.preventDefault()"
          type="text" placeholder="eg: https://...png"
          id="community-image" name="community-image" >
        </clr-input-container>
      </div>
      <div class="clr-col-12 ptb-3">
        <clr-textarea-container>
        <label>Description</label>
        <textarea clrTextarea
            cols="30"
            rows="6" [(ngModel)]="newCommunity.description"
            id="community-description"
            placeholder="Describe what is the community about" name="community-description"></textarea>
        </clr-textarea-container>
      </div>
      <div class="clr-col-12 ptb-3">
        <clr-textarea-container>
        <label>Rules</label>
        <textarea clrTextarea
            id="community-rules"
            cols="30"
            rows="6" [(ngModel)]="newCommunity.rules"
            placeholder="Describe what are the rules to post in the community" name="community-rules"></textarea>
          </clr-textarea-container>
      </div>
      <div class="clr-col-12  ptb-3">
        <h4>Moderators</h4>
      </div>
      <div class="clr-col-12  ptb-3">
        <clr-input-container>
          <label>Add moderator</label>
          <input [(ngModel)]="currentModSuggestionNpub"
          clrInput (keydown.enter)="addModerator($event)"
          type="text"
          id="mod-npub" name="mod-npub"/>
          <clr-control-helper>
            Paste the npub and press enter ⏎
          </clr-control-helper>          
        </clr-input-container>
        <div class="clr-col-12 pl-5 clr-subtext pt-10" >
          <app-user-pic-and-name [hexKey]="newCommunity.creatorHexKey"></app-user-pic-and-name>
          <div *ngFor="let item of this.newCommunity.moderatorHexKeys" class="pt-10 inline-display">
                <app-user-pic-and-name [hexKey]="item"></app-user-pic-and-name>
          </div>
        </div>
      </div>
  </form>
  </div>
  <div class="modal-footer">
   <button type="button" class="btn btn-icon btn-primary btn-sm" aria-label="new community" (click)="onCreate()" [disabled]="createDisabled">
      <cds-icon shape="plus-circle"></cds-icon> Create Community
    </button>
  </div>
</div>
  </clr-modal>
</ng-container>

