<ng-container >
  <clr-modal
   [clrModalOpen]="show" 
   (clrModalOpenChange)="onChange($event)" 
   [clrModalStaticBackdrop]="false">
    <h3 class="modal-title center" i18n>
      Create/Edit Community
    </h3>
    <div class="modal-body">
    <div class="clr-row">
    <form clrForm #newCommunityForm="ngForm"
     clrLayout="vertical"
     novalidate 
     onsubmit="return false;">
      <div class="clr-col-12 ptb-3">
        <clr-input-container>
          <label i18n>Display Name</label>
          <input clrInput required [(ngModel)]="newCommunity.displayName" (keydown.enter)="$event.preventDefault()"
          [disabled]="editMode"
          type="text" placeholder="eg: BotNostriches" (ngModelChange)="displayNameUpdate($event)"
          id="community-display-name" name="community-display-name">
          <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
        </clr-input-container>
      </div>
      <div class="clr-col-12 ptb-3">
        <clr-input-container >
          <label i18n>Name</label>
          <input clrInput [disabled]="true" (keydown.enter)="$event.preventDefault()"
          type="text" required [value]="'n/'+ (newCommunity.name?newCommunity.name:'botnostriches')"
          id="community-name" name="community-name" >
          <clr-control-helper i18n>Please enter display name, this will be automatically populated</clr-control-helper>
        </clr-input-container>
      </div>
      <div class="clr-col-12 ptb-3">
        <clr-input-container>
        <label i18n>Image URL</label>
        <input clrInput [(ngModel)]="newCommunity.image" (keydown.enter)="$event.preventDefault()"
          type="text" placeholder="eg: https://...png"
          id="community-image" name="community-image" >
        </clr-input-container>
      </div>
      <div class="clr-col-12 ptb-3">
        <clr-textarea-container>
        <label i18n>Description</label>
        <textarea clrTextarea
            cols="30"
            rows="6" [(ngModel)]="newCommunity.description"
            id="community-description"
            i18n-placeholder placeholder="Describe what is the community about" name="community-description"></textarea>
        </clr-textarea-container>
      </div>
      <div class="clr-col-12 ptb-3">
        <clr-textarea-container>
        <label i18n>Rules</label>
        <textarea clrTextarea
            id="community-rules"
            cols="30"
            rows="6" [(ngModel)]="newCommunity.rules"
            placeholder="Describe what are the rules to post in the community" name="community-rules"></textarea>
          </clr-textarea-container>
      </div>
      <div class="clr-col-12  ptb-3">
        <h4 i18n>Moderators</h4>
      </div>
      <div class="clr-col-12  ptb-3">
        <clr-input-container>
          <label i18n>Add moderator</label>
          <input [(ngModel)]="currentModSuggestionNpub"
          clrInput (keydown.enter)="addModerator($event)"
          type="text"
          id="mod-npub" name="mod-npub"/>
          <clr-control-helper i18n>
            Paste the npub and press enter ⏎
          </clr-control-helper>          
        </clr-input-container>
        <div class="clr-col-12 pl-5 clr-subtext pt-10" >
          <div *ngFor="let item of this.newCommunity.moderatorHexKeys" class="pt-10 inline-display">
                <app-user-pic-and-name [hexKey]="item" [showClickableDeleteIcon]="item!==newCommunity.creatorHexKey" (deleteIconClicked)="deleteModerator($event)"></app-user-pic-and-name>
          </div>
        </div>
      </div>
  </form>
  </div>
  <div class="modal-footer">
   <button type="button" class="btn btn-icon btn-primary" aria-label="new community" (click)="onCreate()" [disabled]="createDisabled">
    <cds-icon *ngIf="!editMode" shape="plus-circle"></cds-icon><cds-icon *ngIf="editMode" shape="floppy"></cds-icon> <ng-container i18n>{{editMode?"Save":"Create Community"}}</ng-container>
    </button>
  </div>
</div>
  </clr-modal>
</ng-container>

