.card-media-image{
  height:56px;
  width:56px;
}

.center{
  text-align: center;
}

.space-around{
  padding: 0 50px;
}

.pt-5{
  padding-top: 5px;
}

.clr-control-container, .clr-input {
  width: 100%;
}
