.card-media-image{
  height:56px;
  width:56px;
}

.center{
  text-align: center;
}

.space-around{
  padding: 0 50px;
}

.clr-input,
.clr-input-wrapper {
  max-width: 100%;
  width: 100%;
}

.clr-control-container,
.clr-input-wrapper.clr-input {
  padding-left: 0;
  padding-right: 0;
}

.pt-5{
  padding-top: 5px;
}
