<div>
  <h3 align="center">
    🕸 People I follow
  </h3>
  <p align="center">You can see the people you follow here 👇</p>
</div>

<div class="clr-row clr-justify-content-center">
  <div *ngIf="loadingPeopleYouFollow" class="clr-col-12 clr-col-md-8">
    <div class="event-loading-spinner clr-justify-content-center">
      <span class="spinner spinner-md">Loading people you follow...</span>
    </div>
  </div>

  <div *ngIf="!(loadingPeopleYouFollow) && users?.length === 0"  class="clr-row clr-justify-content-center">
    <div class="alert-items">
        <div class="alert-item static clr-justify-content-center">
          <span class="alert-text">Not following anyone yet. May be try following some people? <br/> Like <a href="https://snort.social/p/npub1ltx67888tz7lqnxlrg06x234vjnq349tcfyp52r0lstclp548mcqnuz40t">@vivganes</a>?</span>
        </div>
    </div>
  </div>

<div *ngFor="let item of users" class="clr-col-12 clr-col-md-8">
  <div class="card">
    <div class="card-block">
      <div class="card-media-block">
        <img *ngIf="item?.pictureUrl"  alt="Profile picture" src="{{ item?.pictureUrl }}" class="card-media-image" title="avatar"/>
        <img alt="temp avatar"
          *ngIf="item?.pictureUrl=== undefined"
          class="card-media-image"
          src="https://robohash.org/{{ (item?.name)?(item?.name):'a' }}.png?size=100x100"
          title="avatar" />
          <div class="card-media-description">
            <span class="card-media-title break-anywhere-overflow"  title="Name"> <strong>{{ item?.displayName }} </strong>@{{ item?.name }} </span>
            <span class="card-media-meta break-anywhere-overflow"  title="Npub"><cds-icon shape="key" clrverticalnavicon class="nav-icon"></cds-icon> {{ item?.npub}} </span>
            <span class="card-media-text break-anywhere-overflow"> {{ item?.about }} </span>
          </div>
      </div>
    </div>
  </div>
  </div>

</div>
