    <div class="card">
        <div class="card-block">
            <div class="card-media-block">
                <img alt="Profile picture" src="{{author?.image}}" class="card-media-image" />
                <div class="card-media-description">
                    <span class="card-media-title break-words-overflow"> {{author?.name}} </span>
                    <span class="card-media-text break-words-overflow"> {{formatTimestamp(event?.created_at)}} </span>
                </div>
            </div>
            <div class="card-text break-words-overflow" [innerHTML]="linkifyContent()">              
            </div>
           
            <div *ngFor="let imageSrc of getImageUrls()" class="clr-row">
                <div class="clr-col-6">
                    <img alt="image" class="note-image" src={{imageSrc}}/>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-icon btn-link"><cds-icon shape="bolt" direction="down"></cds-icon>Upzap</button>
            <button class="btn btn-sm btn-icon btn-link"><cds-icon shape="bolt" direction="up"></cds-icon>Downzap</button>
            <!-- <clr-dropdown>
                <button class="btn btn-outline-primary" clrDropdownTrigger>
                    Dropdown
                    <cds-icon shape="angle" direction="down"></cds-icon>
                </button>
                <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
                    <label class="dropdown-header" aria-hidden="true">Dropdown header</label>
                    <div aria-label="Dropdown header Action 1" clrDropdownItem>Action 1</div>
                    <div aria-label="Dropdown header Disabled Action" [clrDisabled]="true" clrDropdownItem>Disabled Action</div>
                    <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
                    <clr-dropdown>
                        <button clrDropdownTrigger>Link 1</button>
                        <clr-dropdown-menu>
                            <button clrDropdownItem>Foo</button>
                            <clr-dropdown>
                                <button clrDropdownTrigger>Bar</button>
                                <clr-dropdown-menu clrPosition="left-top">
                                    <button clrDropdownItem>Baz</button>
                                </clr-dropdown-menu>
                            </clr-dropdown>
                        </clr-dropdown-menu>
                    </clr-dropdown>
                    <div clrDropdownItem>Link 2</div>
                </clr-dropdown-menu>
            </clr-dropdown> -->
        </div>
    </div>
