/* You can add global styles to this file, and also import other style files */
.break-words-overflow {
  overflow-wrap: break-word;
}

.logo-header{
  max-width: 36px;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.pointer-cursor{
  cursor: pointer;
}

.overflow-hidden {
  overflow:hidden
}

.note-image {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  max-height: 500px;
  max-width: 100%;
}

.card-media-image {
  border-radius: 50%;
}

.header-profile-image {
  max-height: 36px;
  border-radius: 50%;
  margin-right: 3px;
}

.profile-name {
  font-weight: normal;
  margin-left: 3px;
}

.search-text-box {
  padding: 0.2rem;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
}

.main-title-font{
  font-family: 'Pangolin', cursive!important;
  font-weight: bold!important;
  font-size:xx-large!important;
  overflow-x: visible;
}

.event-loading-spinner{
  text-align: center;
  margin-top: 20px;
}

a{
  overflow-wrap: anywhere!important
}

.break-anywhere-overflow{
  overflow-wrap: anywhere;
}

.hashtag-link, .hashtag-link:visited{
  color: var(--clr-link-active-color,hsl(198, 65%, 57%)) !important
}

.reply-card{
  margin-left:5px;
}

.hashtag-search{
    border-radius: 1em;
    border: none!important;
    font-size: 1.1em;
    padding-left: 1.5em!important;
    margin-left: 1em!important;
    background-color: #cdcdcd!important;
    color:#000!important;
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
}

.hashtag-search::placeholder{
  color:#000!important;
}

.search_form_mobile{
  display:none;
}

@media only screen and (max-width: 768px) {
  .search_form{
    display: none;
  }

  .hashtag-search{
    display: none;
  }

  .search_form_mobile{
    display:block;
  }

  .hashtag-search-mobile{
    margin-right: 5px;
    border-radius: 1em;
    border: none!important;
    font-size: 1.1em;
    padding-left: 1.5em!important;
    color:#000!important;
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
  }
}


@media screen and (max-width: 576px) {
  .main-container .header .branding {
    max-width: 12rem;
  }
}

.pt-5{
  padding-top:5px
}

.pt-10{
  padding-top:10px
}

.card-media-block .card-media-meta {
  display: inline-block;
  font-size:smaller;
  color:gray
}
