/* You can add global styles to this file, and also import other style files */
html{
  --bc-color-brand: #196ce7;
  --bc-color-brand-dark: #3994ff; /* use a different brand color in dark mode */
  --bc-brand-mix: 100%; /* how much to mix the brand color with default foreground color */
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #4d7fff 0%, var(--clr-btn-primary-border-color,hsl(198, 65%, 57%)) 100%);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.icon-nav-header:hover{
  background-color: transparent!important;
}

.card{
  border-radius: 0.5rem!important;
}

.break-words-overflow {
  overflow-wrap: break-word;
}

.logo-header{
  max-width: 36px;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.pointer-cursor{
  cursor: pointer;
}

.overflow-hidden {
  overflow:hidden
}

.btc-icon{
  --color: #F9A136;
}

.connect-icon{
  --color: #9E57BC;
}

.giant-text-in-select{
  font-size:25px!important;
}

.note-image {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  max-height: 500px;
  max-width: 100%;
}

.card-media-image {
  border-radius: 50%;
}

.header-profile-image {
  max-height: 36px;
  border-radius: 50%;
  margin-right: 3px;
}

.profile-name {
  font-weight: normal;
  margin-left: 3px;
}

.search-text-box {
  padding: 0.2rem;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
}

.main-title-font{
  font-family: 'Solway', serif!important;
  font-weight: bold!important;
  font-size:xx-large!important;
  overflow-x: visible;
}

.event-loading-spinner{
  text-align: center;
  margin-top: 20px;
}

.bold-text{
  font-weight: bold;
}

a{
  overflow-wrap: anywhere!important
}

.smaller-text{
  font-size: smaller;
}

.community-banner {
  display: inline-block;
    flex: 0 0 auto;
    height: 2rem;
    width: 2rem;
    max-height: 9rem;
    max-width: 2rem;
    object-fit:cover;
}

.inline-display{
  display:inline;
}

.note-community-header{
  font-size: 0.7rem;
  letter-spacing: normal;
  line-height: 1.2rem;
}

.community-image{
  display: inline-block;
    flex: 0 0 auto;
    height: 2rem;
    width: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    border-radius: 50%;
}

.onboarding-home-logo{
  max-width: 200px;

}

.break-anywhere-overflow{
  overflow-wrap: anywhere;
}

.hashtag-link, .hashtag-link:visited{
  color: var(--clr-link-active-color,hsl(198, 65%, 57%)) !important
}

.hashtag-link:hover{
  background-color:var(--clr-link-active-color,hsl(198, 65%, 57%)) !important;
  color: #fff!important;
  border-radius: 5px;
  padding:2px;
}

.reply-card{
  margin-left:5px;
}

.compose-note{
  width: 100%;
  height: 7rem;
  border: none;
  outline: none;
}

.compose-reply{
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
}

.compose-note:focus,
.compose-reply:focus{
  outline: none !important;
}

.hidden-card-message {
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
}
.hidden-card-message:before, .hidden-card-message:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px dashed var(--clr-btn-default-color, hsl(198, 100%, 32%));
}
.hidden-card-message:after {
  margin: 0 -55% 0 .5em;
}
.hidden-card-span {
  display: inline-block;
  vertical-align: middle;
}

.reply-container{
  border-left-style: solid!important;
  border-left: 1px;
  border-left-color: var(--clr-btn-primary-border-color,hsl(198, 65%, 57%));
}

mention-list > ul{
  visibility:visible!important;
}


.hashtag-search{
    border-radius: 1em;
    border: none!important;
    font-size: 1.1em;
    padding-left: 1.5em!important;
    margin-left: 1em!important;
    background-color: #cdcdcd!important;
    color:#000!important;
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
}

.hashtag-search::placeholder{
  color:#000!important;
}

.search_form_mobile{
  display:none;
}

.online-video-size{
  width: 480px;
  height: 275px;
}

.clr-wizard-stepnav-wrapper{
  display:none;
}

@media screen and (max-width: 576px) {
  .main-container .header .branding {
    max-width: 12rem;
  }

  .online-video-size{
    width: 300px ;
    height: 180px ;
  }

  .youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    background: #000;
    margin: 5px;
  }

  .youtube-player .play {
    height: 48px;
    width: 68px;
    left: 38% !important;
    top: 42% !important;
    position: absolute;
    background: url('./assets/youtubeplay.png') no-repeat;
    cursor: pointer;
  }

  .center-textbox{
    margin-left:0px;
  }


.sats-center{
  display: flex;
  justify-content: center;
  padding-left: 10px ;
}
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  .online-video-size{
    max-width: 12rem ;
  }

  .youtube-player .play {
    height: 48px;
    width: 68px;
    left: 38%;
    top: 42%;
    position: absolute;
    background: url('./assets/youtubeplay.png') no-repeat;
    cursor: pointer;
  }


.center-textbox{
  margin-left:0px;
}

.sats-center{
  display: flex;
  justify-content: center;
  padding-left: 10px ;
}

}

@media only screen and (max-width: 768px) {
  .search_form{
    display: none;
  }

  .hashtag-search{
    display: none !important;
  }

  .clr-wizard-stepnav-wrapper{
    display:none !important;
  }

  .search_form_mobile{
    display:block;
  }

  .hashtag-search-mobile{
    margin-right: 5px;
    border-radius: 1em;
    border: none!important;
    font-size: 1.1em;
    padding-left: 1.5em!important;
    color:#000!important;
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
  }

  .center-textbox{
    margin-left: -35px;
  }
}

.pt-5{
  padding-top:5px
}

.pt-10{
  padding-top:10px
}

.card-media-block .card-media-meta {
  display: inline-block;
  font-size:smaller;
  color:gray
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
  }

  .purple{
    color: #320047;
  }

  .youtube-player img:hover {
    -webkit-filter: brightness(75%);
  }

  .youtube-player .play {
    height: 48px;
    width: 68px;
    left: 44%;
    top: 55%;
    position: absolute;
    background: url('./assets/youtubeplay.png') no-repeat;
    cursor: pointer;
  }

.center-textbox{
  margin-left: -35px;
}

.sats-center{
  display: flex;
  justify-content: center;
}

.ml-20{
  margin-left: 20px;
}

.ml-5{
  margin-left: 5px;
}

.mt-12{
  margin-top: 12px;
}

.mt-20{
  margin-top:20px;
}


label[for="sats-for-zaps"]
{
    display:none;
}

@media only screen and (min-width: 1024px) {
  .sats-width{
    padding: 0 130px;
  }
}

.end{
  text-align: end;
}

.page-center{
  position: absolute;
  left: 58%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.approval-header{
  padding: 8px !important;
}

.approval-header-text{
  font-size: 0.71rem !important;
}
