/* You can add global styles to this file, and also import other style files */
.break-words-overflow {
  overflow-wrap: break-word;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.pointer-cursor{
  cursor: pointer;
}

.overflow-hidden {
  overflow:hidden
}

.note-image {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  max-height: 500px;
  max-width: 100%;
}

.card-media-image {
  border-radius: 50%;
}

.header-profile-image {
  max-height: 36px;
  border-radius: 50%;
  margin-right: 3px;
}

.profile-name {
  font-weight: normal;
  margin-left: 3px;
}

.search-text-box {
  padding: 0.2rem;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
}

.main-title-font{
  font-family: monospace!important;
  font-weight: bold!important;
}

.event-loading-spinner{
  text-align: center;
  margin-top: 20px;
}

a{
  overflow-wrap: anywhere!important
}

.break-anywhere-overflow{
  overflow-wrap: anywhere;
}

.hashtag-link, .hashtag-link:visited{
  color: var(--clr-link-color) !important
}

.hashtag-search{
    border-radius: 1em;
    border: none;    
    color: #1a1a1a;
    font-size: 1.1em;
    padding-left: 1.5em;    
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
}
