/* You can add global styles to this file, and also import other style files */
.break-words-overflow {
  overflow-wrap: anywhere;
}

.note-image {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  max-height: 500px;
  max-width: 100%;
}

.card-media-image {
  border-radius: 50%;
}

.header-profile-image {
  max-height: 36px;
  border-radius: 50%;
  margin-right: 3px;
  marin-top: -5px;
}

.profile-name {
  font-weight: normal;
  margin-left: 3px;
}

.search-text-box {
  padding: 0.2rem;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
}

.title-font{
  font-family: monospace!important;
  font-weight: bold!important;
}
